</div>
<div>
	<section class="fp-section section">
		<div class="simpleFadeSlider">
			<ul class="slides">
				<li class="item hpslide1a fadeIn">
					<div class="text right">
						<h1 class="light">SPRING 2017</h1>
						<h1 class="light">SILK ROAD CAMPAIGN</h1>
						<p>“Traveling the world is a constant inspiration. This season, I designed a collection that is timeless, transitions from day into night, season into season.”<br/>-DONNA KARAN</p>
					</div>
				</li>
				<li class="item hpslide2a fadeIn">
					<div class="text right">
						<h1 class="light">SPRING 2017</h1>
						<h1 class="light">SILK ROAD CAMPAIGN</h1>
						<p>“Traveling the world is a constant inspiration. This season, I designed a collection that is timeless, transitions from day into night, season into season.”<br/>-DONNA KARAN</p>
					</div>
				</li>
				<li class="item hpslide3a fadeIn">
					<div class="text right">
						<h1 class="light">SPRING 2017</h1>
						<h1 class="light">SILK ROAD CAMPAIGN</h1>
						<p>“Traveling the world is a constant inspiration. This season, I designed a collection that is timeless, transitions from day into night, season into season.”<br/>-DONNA KARAN</p>
					</div>
				</li>
				<li class="item hpslide4a fadeIn">
					<div class="text right">
						<h1 class="light">SPRING 2017</h1>
						<h1 class="light">SILK ROAD CAMPAIGN</h1>
						<p>“Traveling the world is a constant inspiration. This season, I designed a collection that is timeless, transitions from day into night, season into season.”<br/>-DONNA KARAN</p>
					</div>
				</li>
				<li class="item hpslide5a fadeIn">
					<div class="text right">
						<h1 class="light">SPRING 2017</h1>
						<h1 class="light">SILK ROAD CAMPAIGN</h1>
						<p>“Traveling the world is a constant inspiration. This season, I designed a collection that is timeless, transitions from day into night, season into season.”<br/>-DONNA KARAN</p>
					</div>
				</li>
				<li class="item hpslide6a fadeIn">
					<div class="text right">
						<h1 class="light">SPRING 2017</h1>
						<h1 class="light">SILK ROAD CAMPAIGN</h1>
						<p>“Traveling the world is a constant inspiration. This season, I designed a collection that is timeless, transitions from day into night, season into season.”<br/>-DONNA KARAN</p>
					</div>
				</li>
				<li class="item hpslide7a fadeIn">
					<div class="text right">
						<h1 class="light">SPRING 2017</h1>
						<h1 class="light">SILK ROAD CAMPAIGN</h1>
						<p>“Traveling the world is a constant inspiration. This season, I designed a collection that is timeless, transitions from day into night, season into season.”<br/>-DONNA KARAN</p>
					</div>
				</li>
				<li class="item hpslide8a fadeIn">
					<div class="text right">
						<h1 class="light">SPRING 2017</h1>
						<h1 class="light">SILK ROAD CAMPAIGN</h1>
						<p>“Traveling the world is a constant inspiration. This season, I designed a collection that is timeless, transitions from day into night, season into season.”<br/>-DONNA KARAN</p>
					</div>
				</li>
				
			</ul>
			
		</div>
		<div id="sticky-anchor"></div>
		<div class="fixed-bottom-menu" id="sticky">
			<ul>
				<li><h4 id="link-A" class="light">Watch Video</h4></li>
				<li><h4 id="link-B" class="light">Behind-The-Scenes</h4></li>
			</ul>
		</div>
	</section>
	<section class="fp-section section mobile_hidden">
		<a name="jump-to-A"> </a>
		<div class="text fullscreen"></div>
		<div class="cell-video-container top-z">
			<iframe id="introVid" class="mobile_hidden" src="https://player.vimeo.com/video/205951967" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
			<img width="100%" class="desktop_hidden" src="{{ 'Campaign_M_01.jpg' | asset_url | split:'?' | first }}" alt="Urban Zen Silk Road" />
		</div>
	</section>
	<section class="fp-section fp-auto-height section" id="nom-people">
		<div class="container center light">
		<a name="jump-to-B"> </a>
			<h1>BEHIND-THE-SCENES</h1>
			<p>An exclusive, behind-the-scenes look into our Spring 17 campaign shoot.</p><br />
				<p>Model: Tiana Tolstoi<br />
				<p>Photographer: Adam Franzino<br />
				<p>Hair: Dakota Heman<br />
				<p>Make-Up: Bank Natdanai<br />
				<p>Location: Urban Zen Center<br /><br />

	     	<div class="four columns alpha thumbnail ">
	        	<img width="50" height="50" src="{{ 'transparent.gif' | asset_url | split:'?' | first  }}" data-src="{{ 'BTS_01a.jpg' | asset_url | split:'?' | first}}">
	    	</div>
	    	<div class="four columns alpha thumbnail ">
	        	<img width="50" height="50" src="{{ 'transparent.gif' | asset_url | split:'?' | first  }}" data-src="{{ 'BTS_02a.jpg' | asset_url | split:'?' | first}}">
	    	</div>
	    	<div class="four columns alpha thumbnail ">
	        	<img width="50" height="50" src="{{ 'transparent.gif' | asset_url | split:'?' | first  }}" data-src="{{ 'BTS_03a.jpg' | asset_url | split:'?' | first}}">
	    	</div>
	    	<div class="four columns alpha thumbnail ">
	        	<img width="50" height="50" src="{{ 'transparent.gif' | asset_url | split:'?' | first  }}" data-src="{{ 'BTS_04a.jpg' | asset_url | split:'?' | first}}">
	    	</div>
	    	<div class="four columns alpha thumbnail ">
	        	<img width="50" height="50" src="{{ 'transparent.gif' | asset_url | split:'?' | first  }}" data-src="{{ 'BTS_05a.jpg' | asset_url | split:'?' | first}}">
	    	</div>
	    	<div class="four columns alpha thumbnail ">
	        	<img width="50" height="50" src="{{ 'transparent.gif' | asset_url | split:'?' | first  }}" data-src="{{ 'BTS_06a.jpg' | asset_url | split:'?' | first}}">
	    	</div>
	    	<div class="four columns alpha thumbnail ">
	        	<img width="50" height="50" src="{{ 'transparent.gif' | asset_url | split:'?' | first  }}" data-src="{{ 'BTS_07a.jpg' | asset_url | split:'?' | first}}">
	    	</div>
	    	<div class="four columns alpha thumbnail ">
	        	<img width="50" height="50" src="{{ 'transparent.gif' | asset_url | split:'?' | first  }}" data-src="{{ 'BTS_08a.jpg' | asset_url | split:'?' | first}}">
	    	</div>
	    </div>	
    </section>	
	<section class="fp-section clearfix center section">
		<br/><br/>
		<h1 class="light uppercase">EXPLORE THE COLLECTION</h1><br/><br/>
		<a href="/pages/silk-road-collection/" class="cta-button" title="Shop Silk Road Collection">pre-order</a>
	</section>
</div>	
<script type="text/javascript">
function scrollToAnchor(aid){
    var aTag = $("a[name='"+ aid +"']");
    $('html,body').animate({scrollTop: aTag.offset().top -0},'slow');
	}

	$("#link-A").click(function() {
	   scrollToAnchor('jump-to-A');
	});
	$("#link-B").click(function() {
	   scrollToAnchor('jump-to-B');
	});
 function sticky_relocate() {
    var window_top = $(window).scrollTop();
    var div_top = $('#sticky-anchor').offset().top;
    if (window_top > div_top) {
        $('#sticky').addClass('stick');
        $('#sticky-anchor').height($('#sticky').outerHeight());
    } else {
        $('#sticky').removeClass('stick');
        $('#sticky-anchor').height(0);
    }
}

$(function() {
    $(window).scroll(sticky_relocate);
    sticky_relocate();
});

var dir = 1;
var MIN_TOP = 200;
var MAX_TOP = 350;

function autoscroll() {
    var window_top = $(window).scrollTop() + dir;
    if (window_top >= MAX_TOP) {
        window_top = MAX_TOP;
        dir = -1;
    } else if (window_top <= MIN_TOP) {
        window_top = MIN_TOP;
        dir = 1;
    }
    $(window).scrollTop(window_top);
    window.setTimeout(autoscroll, 100);
}

</script>