</div>
<div>
	<div class="cell-video-container">
		<div class="text">
		</div>
		<div class="absolute-scroll center mobile_hidden">	
			
			<a id="link" class="light learn-more"><span></span></a>
		</div>
		
		<iframe class="mobile_hidden" src="https://player.vimeo.com/video/228157197?background=1&autoplay=1" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
		<iframe class="desktop_hidden" src="https://player.vimeo.com/video/228157197?title=0&byline=0&portrait=0" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
		<div class="absolute-scroll bottom center desktop_hidden">
			<a id="link" class="light learn-more mobile_hidden"><span></span></a>
		</div>
	</div>
	<div class="light">
		<a name="jump-to"> </a>
		<div class="section center super-bg-1">
			<div class="sixteen columns">
				<div class="sixteen columns">
					<h2 class="center">20 YEARS AND COUNTING</h2>
			  	  	<p><br/>Thank you to all who supported Super Saturday on July 29, 2017. With your help, over $3 million was raised for OCRFA’s ovarian cancer research and support programs. Super Saturday is hosted by Donna Karan, Gabby Karan de Felice, Kelly Ripa, Molly Sims, and Rachel Zoe, and presented by QVC. Over 2,000 people attend each Super Saturday – guests include supporters and their families, designers, celebrities, editors, media, and fashion lovers.<br/><br/<br/><br/>
			        </p>
			        <div class="one-half left hover-text thumbnail" >
			        	<div class="relative">
			        	<img class="mobile_hidden thumbnail" src="{{ 'UZR_d_SS_2.jpg' | asset_url | split:'?' | first }}" alt="Super Saturday Event" />
			        	<img class="desktop_hidden" src="{{ 'UZR_m_SS_2.jpg' | asset_url | split:'?' | first }}" alt="Super Saturday Event" />
			        	<h4 class="text light normalcase">#OCRFASuperSaturday</h4>
			        	</div>
			        </div><div class="one-half right hover-text thumbnail" >
			        	<div class="relative">
			        	<img class="mobile_hidden" src="{{ 'UZR_d_SS_3.jpg' | asset_url | split:'?' | first }}" alt="Super Saturday Event" />
			        	<img class="desktop_hidden" src="{{ 'UZR_m_SS_3.jpg' | asset_url | split:'?' | first }}" alt="Super Saturday Event" />
			        	<h4 class="text light normalcase">#OCRFASuperSaturday</h4>
			        	</div>
			        </div><br/><br/>
			        <div class="one-half thirtyfour left hover-text thumbnail">
			        	<div class="relative">
			        	<img class="mobile_hidden" src="{{ 'UZR_d_SS_4.jpg' | asset_url | split:'?' | first }}" alt="Super Saturday Event" />
			        	
			        	<img class="desktop_hidden" src="{{ 'UZR_m_SS_4.jpg' | asset_url | split:'?' | first }}" alt="Super Saturday Event" />
			        	<h4 class="text light normalcase">#OCRFASuperSaturday</h4>
			        	
			        	</div>
			        </div><div class="one-half sixtyfive right" >
			        	<div class="hover-text thumbnail">
			        	<div class="relative">
			        		<img class="mobile_hidden" src="{{ 'UZR_d_SS_5.jpg' | asset_url | split:'?' | first }}" alt="Super Saturday Event" />
			        		<h4 class="text light normalcase">#OCRFASuperSaturday</h4>
			        	</div>
			        	</div>
			        	<div class="one-half left hover-text thumbnail" >
			        		<div class="relative">
			        			<img class="mobile_hidden" src="{{ 'UZR_d_SS_6.jpg' | asset_url | split:'?' | first }}" alt="Super Saturday Event" />
			        			<h4 class="text light normalcase">#OCRFASuperSaturday</h4>
			        		</div>
			        	</div><div class="one-half right hover-text thumbnail">
				        	<div class="relative">
				        		<img class="mobile_hidden" src="{{ 'UZR_d_SS_7.jpg' | asset_url | split:'?' | first }}" alt="Super Saturday Event" />
				        		<h4 class="text light normalcase">#OCRFASuperSaturday</h4>
				        	</div>
				        	<div class="relative">
				        		<img class="desktop_hidden" src="{{ 'UZR_m_SS_5.jpg' | asset_url | split:'?' | first }}" alt="Super Saturday Event" />
				        		
				        	</div>
			        	</div>
			        	</div>
			        
			        <div class="desktop_hidden one-half left"><br/>
			        	<img src="{{ 'UZR_m_SS_6.jpg' | asset_url | split:'?' | first }}" alt="Super Saturday Event" />
			        	</div><div class=" desktop_hidden one-half right"><Br/>
			        	<img src="{{ 'UZR_m_SS_7.jpg' | asset_url | split:'?' | first }}" alt="Super Saturday Event" />
			        </div>
			    </div>    
	        </div>
	        
  		</div>
  		<img src="{{ 'UZR_m_SS_8.jpg' | asset_url | split:'?' | first }}" alt="Super Saturday Event" />
  		<div class="section center super-bg-2">
			<div class="sixteen columns">
			
		        <div class="one-third hover-text thumbnail">
		        	<div class="relative">
			        	<img class="mobile_hidden" src="{{ 'UZR_d_SS_9.jpg' | asset_url | split:'?' | first }}" alt="Super Saturday Event" />
			        	<img class="desktop_hidden" src="{{ 'UZR_m_SS_9.jpg' | asset_url | split:'?' | first }}" alt="Super Saturday Event" />
			        	<h4 class="text light normalcase">#OCRFASuperSaturday</h4>
		        	</div>
		        </div><div class="one-third hover-text thumbnail">
		        <div class="relative">
		        	<img class="mobile_hidden" src="{{ 'UZR_d_SS_10.jpg' | asset_url | split:'?' | first }}" alt="Super Saturday Event" />
		        	<img class="desktop_hidden" src="{{ 'UZR_m_SS_10.jpg' | asset_url | split:'?' | first }}" alt="Super Saturday Event" />
		        	<h4 class="text light normalcase">#OCRFASuperSaturday</h4>
		        	</div>
		        </div><div class="one-third hover-text thumbnail">
		        	<div class="relative">
			        	<img class="mobile_hidden" src="{{ 'UZR_d_SS_11.jpg' | asset_url | split:'?' | first }}" alt="Super Saturday Event" />
			        	<img class="desktop_hidden" src="{{ 'UZR_m_SS_11.jpg' | asset_url | split:'?' | first }}" alt="Super Saturday Event" />
			        	<h4 class="text light normalcase">#OCRFASuperSaturday</h4>
		        	</div>
		        </div>
		        <div class="one-third desktop_hidden">
		       	 <img class="desktop_hidden" src="{{ 'UZR_m_SS_12.jpg' | asset_url | split:'?' | first }}" alt="Super Saturday Event" />
		        </div>
		   		
	        	<div class="sixteen columns mobile_hidden">
			        	<div class="one-half left hover-text thumbnail">
			        		<div class="relative">
				        	<img class="mobile_hidden" src="{{ 'UZR_d_SS_12.jpg' | asset_url | split:'?' | first }}" alt="Super Saturday Event" />
				        	<h4 class="text light normalcase">#OCRFASuperSaturday</h4>
				        	</div>
				        	
				        </div><div class="one-half right hover-text thumbnail" />
				        	<div class="relative">
				        	<img class="mobile_hidden" src="{{ 'UZR_d_SS_13.jpg' | asset_url | split:'?' | first }}" alt="Super Saturday Event" />
				        	<h4 class="text light normalcase">#OCRFASuperSaturday</h4>
				        	</div>
				        </div>

				     </div>
				   
			     </div>
		     </div>   
	    </div>  
	    	  <img class="desktop_hidden" src="{{ 'UZR_m_SS_13.jpg' | asset_url | split:'?' | first }}" alt="Super Saturday Event" />
	      <img class="mobile_hidden" src="{{ 'UZR_d_SS_14.jpg' | asset_url | split:'?' | first }}" alt="Super Saturday Event" />
  		<div class="section article">
  			<br/><br/><br/><br/>
			<h1 class="light center">PHOTO GALLERY</h1><br/>
			<div class="alchemistSlider relative_slider black-nav">
				<ul class="slides">
					<li class="item"><a rel="gallery1" class="fancybox" href="{{ 'UZR_dm_SS_gallery__0001.jpg' | asset_url | split:'?' | first }}"><img src="{{ 'UZR_dm_SS_gallery__0001.jpg' | asset_url | split:'?' | first }}" alt="Super Saturday Event" /></a></li>
					<li class="item"><a rel="gallery1" class="fancybox" href="{{ 'UZR_dm_SS_gallery__0002.jpg' | asset_url | split:'?' | first }}"><img src="{{ 'UZR_dm_SS_gallery__0002.jpg' | asset_url | split:'?' | first }}" alt="Super Saturday Event" /></a></li>
					<li class="item"><a rel="gallery1" class="fancybox" href="{{ 'UZR_dm_SS_gallery__0003.jpg' | asset_url | split:'?' | first }}"><img src="{{ 'UZR_dm_SS_gallery__0003.jpg' | asset_url | split:'?' | first }}" alt="Super Saturday Event" /></a></li>
					<li class="item"><a rel="gallery1" class="fancybox" href="{{ 'UZR_dm_SS_gallery__0004.jpg' | asset_url | split:'?' | first }}"><img src="{{ 'UZR_dm_SS_gallery__0004.jpg' | asset_url | split:'?' | first }}" alt="Super Saturday Event" /></a></li>
					<li class="item"><a rel="gallery1" class="fancybox" href="{{ 'UZR_dm_SS_gallery__0005.jpg' | asset_url | split:'?' | first }}"><img src="{{ 'UZR_dm_SS_gallery__0005.jpg' | asset_url | split:'?' | first }}" alt="Super Saturday Event" /></a></li>
					<li class="item"><a rel="gallery1" class="fancybox" href="{{ 'UZR_dm_SS_gallery__0006.jpg' | asset_url | split:'?' | first }}"><img src="{{ 'UZR_dm_SS_gallery__0006.jpg' | asset_url | split:'?' | first }}" alt="Super Saturday Event" /></a></li>
					<li class="item"><a rel="gallery1" class="fancybox" href="{{ 'UZR_dm_SS_gallery__0007.jpg' | asset_url | split:'?' | first }}"><img src="{{ 'UZR_dm_SS_gallery__0007.jpg' | asset_url | split:'?' | first }}" alt="Super Saturday Event" /></a></li>
					<li class="item"><a rel="gallery1" class="fancybox" href="{{ 'UZR_dm_SS_gallery__0008.jpg' | asset_url | split:'?' | first }}"><img src="{{ 'UZR_dm_SS_gallery__0008.jpg' | asset_url | split:'?' | first }}" alt="Super Saturday Event" /></a></li>
					<li class="item"><a rel="gallery1" class="fancybox" href="{{ 'UZR_dm_SS_gallery__0009.jpg' | asset_url | split:'?' | first }}"><img src="{{ 'UZR_dm_SS_gallery__0009.jpg' | asset_url | split:'?' | first }}" alt="Super Saturday Event" /></a></li>
					<li class="item"><a rel="gallery1" class="fancybox" href="{{ 'UZR_dm_SS_gallery__0010.jpg' | asset_url | split:'?' | first }}"><img src="{{ 'UZR_dm_SS_gallery__0010.jpg' | asset_url | split:'?' | first }}" alt="Super Saturday Event" /></a></li>
					<li class="item"><a rel="gallery1" class="fancybox" href="{{ 'UZR_dm_SS_gallery__0011.jpg' | asset_url | split:'?' | first }}"><img src="{{ 'UZR_dm_SS_gallery__0011.jpg' | asset_url | split:'?' | first }}" alt="Super Saturday Event" /></a></li>
					<li class="item"><a rel="gallery1" class="fancybox" href="{{ 'UZR_dm_SS_gallery__0012.jpg' | asset_url | split:'?' | first }}"><img src="{{ 'UZR_dm_SS_gallery__0012.jpg' | asset_url | split:'?' | first }}" alt="Super Saturday Event" /></a></li>
					<li class="item"><a rel="gallery1" class="fancybox" href="{{ 'UZR_dm_SS_gallery__0013.jpg' | asset_url | split:'?' | first }}"><img src="{{ 'UZR_dm_SS_gallery__0013.jpg' | asset_url | split:'?' | first }}" alt="Super Saturday Event" /></a></li>
					<li class="item"><a rel="gallery1" class="fancybox" href="{{ 'UZR_dm_SS_gallery__0014.jpg' | asset_url | split:'?' | first }}"><img src="{{ 'UZR_dm_SS_gallery__0014.jpg' | asset_url | split:'?' | first }}" alt="Super Saturday Event" /></a></li>
					<li class="item"><a rel="gallery1" class="fancybox" href="{{ 'UZR_dm_SS_gallery__0015.jpg' | asset_url | split:'?' | first }}"><img src="{{ 'UZR_dm_SS_gallery__0015.jpg' | asset_url | split:'?' | first }}" alt="Super Saturday Event" /></a></li>
					<li class="item"><a rel="gallery1" class="fancybox" href="{{ 'UZR_dm_SS_gallery__0016.jpg' | asset_url | split:'?' | first }}"><img src="{{ 'UZR_dm_SS_gallery__0016.jpg' | asset_url | split:'?' | first }}" alt="Super Saturday Event" /></a></li>
					<li class="item"><a rel="gallery1" class="fancybox" href="{{ 'UZR_dm_SS_gallery__0017.jpg' | asset_url | split:'?' | first }}"><img src="{{ 'UZR_dm_SS_gallery__0017.jpg' | asset_url | split:'?' | first }}" alt="Super Saturday Event" /></a></li>
					<li class="item"><a rel="gallery1" class="fancybox" href="{{ 'UZR_dm_SS_gallery__0018.jpg' | asset_url | split:'?' | first }}"><img src="{{ 'UZR_dm_SS_gallery__0018.jpg' | asset_url | split:'?' | first }}" alt="Super Saturday Event" /></a></li>
					<li class="item"><a rel="gallery1" class="fancybox" href="{{ 'UZR_dm_SS_gallery__0019.jpg' | asset_url | split:'?' | first }}"><img src="{{ 'UZR_dm_SS_gallery__0019.jpg' | asset_url | split:'?' | first }}" alt="Super Saturday Event" /></a></li>
					<li class="item"><a rel="gallery1" class="fancybox" href="{{ 'UZR_dm_SS_gallery__0020.jpg' | asset_url | split:'?' | first }}"><img src="{{ 'UZR_dm_SS_gallery__0020.jpg' | asset_url | split:'?' | first }}" alt="Super Saturday Event" /></a></li>
					<li class="item"><a rel="gallery1" class="fancybox" href="{{ 'UZR_dm_SS_gallery__0021.jpg' | asset_url | split:'?' | first }}"><img src="{{ 'UZR_dm_SS_gallery__0021.jpg' | asset_url | split:'?' | first }}" alt="Super Saturday Event" /></a></li>
					<li class="item"><a rel="gallery1" class="fancybox" href="{{ 'UZR_dm_SS_gallery__0022.jpg' | asset_url | split:'?' | first }}"><img src="{{ 'UZR_dm_SS_gallery__0022.jpg' | asset_url | split:'?' | first }}" alt="Super Saturday Event" /></a></li>
					<li class="item"><a rel="gallery1" class="fancybox" href="{{ 'UZR_dm_SS_gallery__0023.jpg' | asset_url | split:'?' | first }}"><img src="{{ 'UZR_dm_SS_gallery__0023.jpg' | asset_url | split:'?' | first }}" alt="Super Saturday Event" /></a></li>
					<li class="item"><a rel="gallery1" class="fancybox" href="{{ 'UZR_dm_SS_gallery__0024.jpg' | asset_url | split:'?' | first }}"><img src="{{ 'UZR_dm_SS_gallery__0024.jpg' | asset_url | split:'?' | first }}" alt="Super Saturday Event" /></a></li>
					<li class="item"><a rel="gallery1" class="fancybox" href="{{ 'UZR_dm_SS_gallery__0025.jpg' | asset_url | split:'?' | first }}"><img src="{{ 'UZR_dm_SS_gallery__0025.jpg' | asset_url | split:'?' | first }}" alt="Super Saturday Event" /></a></li>
					<li class="item"><a rel="gallery1" class="fancybox" href="{{ 'UZR_dm_SS_gallery__0026.jpg' | asset_url | split:'?' | first }}"><img src="{{ 'UZR_dm_SS_gallery__0026.jpg' | asset_url | split:'?' | first }}" alt="Super Saturday Event" /></a></li>
					<li class="item"><a rel="gallery1" class="fancybox" href="{{ 'UZR_dm_SS_gallery__0027.jpg' | asset_url | split:'?' | first }}"><img src="{{ 'UZR_dm_SS_gallery__0027.jpg' | asset_url | split:'?' | first }}" alt="Super Saturday Event" /></a></li>
					<li class="item"><a rel="gallery1" class="fancybox" href="{{ 'UZR_dm_SS_gallery__0028.jpg' | asset_url | split:'?' | first }}"><img src="{{ 'UZR_dm_SS_gallery__0028.jpg' | asset_url | split:'?' | first }}" alt="Super Saturday Event" /></a></li>
					<li class="item"><a rel="gallery1" class="fancybox" href="{{ 'UZR_dm_SS_gallery__0029.jpg' | asset_url | split:'?' | first }}"><img src="{{ 'UZR_dm_SS_gallery__0029.jpg' | asset_url | split:'?' | first }}" alt="Super Saturday Event" /></a></li>
					<li class="item"><a rel="gallery1" class="fancybox" href="{{ 'UZR_dm_SS_gallery__0030.jpg' | asset_url | split:'?' | first }}"><img src="{{ 'UZR_dm_SS_gallery__0030.jpg' | asset_url | split:'?' | first }}" alt="Super Saturday Event" /></a></li>
					<li class="item"><a rel="gallery1" class="fancybox" href="{{ 'UZR_dm_SS_gallery__0031.jpg' | asset_url | split:'?' | first }}"><img src="{{ 'UZR_dm_SS_gallery__0031.jpg' | asset_url | split:'?' | first }}" alt="Super Saturday Event" /></a></li>
					<li class="item"><a rel="gallery1" class="fancybox" href="{{ 'UZR_dm_SS_gallery__0032.jpg' | asset_url | split:'?' | first }}"><img src="{{ 'UZR_dm_SS_gallery__0032.jpg' | asset_url | split:'?' | first }}" alt="Super Saturday Event" /></a></li>
					<li class="item"><a rel="gallery1" class="fancybox" href="{{ 'UZR_dm_SS_gallery__0033.jpg' | asset_url | split:'?' | first }}"><img src="{{ 'UZR_dm_SS_gallery__0033.jpg' | asset_url | split:'?' | first }}" alt="Super Saturday Event" /></a></li>
					<li class="item"><a rel="gallery1" class="fancybox" href="{{ 'UZR_dm_SS_gallery__0034.jpg' | asset_url | split:'?' | first }}"><img src="{{ 'UZR_dm_SS_gallery__0034.jpg' | asset_url | split:'?' | first }}" alt="Super Saturday Event" /></a></li>
					<li class="item"><a rel="gallery1" class="fancybox" href="{{ 'UZR_dm_SS_gallery__0035.jpg' | asset_url | split:'?' | first }}"><img src="{{ 'UZR_dm_SS_gallery__0035.jpg' | asset_url | split:'?' | first }}" alt="Super Saturday Event" /></a></li>
					<li class="item"><a rel="gallery1" class="fancybox" href="{{ 'UZR_dm_SS_gallery__0036.jpg' | asset_url | split:'?' | first }}"><img src="{{ 'UZR_dm_SS_gallery__0036.jpg' | asset_url | split:'?' | first }}" alt="Super Saturday Event" /></a></li>
					<li class="item"><a rel="gallery1" class="fancybox" href="{{ 'UZR_dm_SS_gallery__0037.jpg' | asset_url | split:'?' | first }}"><img src="{{ 'UZR_dm_SS_gallery__0037.jpg' | asset_url | split:'?' | first }}" alt="Super Saturday Event" /></a></li>
					<li class="item"><a rel="gallery1" class="fancybox" href="{{ 'UZR_dm_SS_gallery__0038.jpg' | asset_url | split:'?' | first }}"><img src="{{ 'UZR_dm_SS_gallery__0038.jpg' | asset_url | split:'?' | first }}" alt="Super Saturday Event" /></a></li>
					<li class="item"><a rel="gallery1" class="fancybox" href="{{ 'UZR_dm_SS_gallery__0039.jpg' | asset_url | split:'?' | first }}"><img src="{{ 'UZR_dm_SS_gallery__0039.jpg' | asset_url | split:'?' | first }}" alt="Super Saturday Event" /></a></li>
					<li class="item"><a rel="gallery1" class="fancybox" href="{{ 'UZR_dm_SS_gallery__0040.jpg' | asset_url | split:'?' | first }}"><img src="{{ 'UZR_dm_SS_gallery__0040.jpg' | asset_url | split:'?' | first }}" alt="Super Saturday Event" /></a></li>
					<li class="item"><a rel="gallery1" class="fancybox" href="{{ 'UZR_dm_SS_gallery__0041.jpg' | asset_url | split:'?' | first }}"><img src="{{ 'UZR_dm_SS_gallery__0041.jpg' | asset_url | split:'?' | first }}" alt="Super Saturday Event" /></a></li>
					<li class="item"><a rel="gallery1" class="fancybox" href="{{ 'UZR_dm_SS_gallery__0042.jpg' | asset_url | split:'?' | first }}"><img src="{{ 'UZR_dm_SS_gallery__0042.jpg' | asset_url | split:'?' | first }}" alt="Super Saturday Event" /></a></li>
					<li class="item"><a rel="gallery1" class="fancybox" href="{{ 'UZR_dm_SS_gallery__0043.jpg' | asset_url | split:'?' | first }}"><img src="{{ 'UZR_dm_SS_gallery__0043.jpg' | asset_url | split:'?' | first }}" alt="Super Saturday Event" /></a></li>
					<li class="item"><a rel="gallery1" class="fancybox" href="{{ 'UZR_dm_SS_gallery__0044.jpg' | asset_url | split:'?' | first }}"><img src="{{ 'UZR_dm_SS_gallery__0044.jpg' | asset_url | split:'?' | first }}" alt="Super Saturday Event" /></a></li>
					<li class="item"><a rel="gallery1" class="fancybox" href="{{ 'UZR_dm_SS_gallery__0045.jpg' | asset_url | split:'?' | first }}"><img src="{{ 'UZR_dm_SS_gallery__0045.jpg' | asset_url | split:'?' | first }}" alt="Super Saturday Event" /></a></li>
					<li class="item"><a rel="gallery1" class="fancybox" href="{{ 'UZR_dm_SS_gallery__0046.jpg' | asset_url | split:'?' | first }}"><img src="{{ 'UZR_dm_SS_gallery__0046.jpg' | asset_url | split:'?' | first }}" alt="Super Saturday Event" /></a></li>
					<li class="item"><a rel="gallery1" class="fancybox" href="{{ 'UZR_dm_SS_gallery__0047.jpg' | asset_url | split:'?' | first }}"><img src="{{ 'UZR_dm_SS_gallery__0047.jpg' | asset_url | split:'?' | first }}" alt="Super Saturday Event" /></a></li>
					<li class="item"><a rel="gallery1" class="fancybox" href="{{ 'UZR_dm_SS_gallery__0048.jpg' | asset_url | split:'?' | first }}"><img src="{{ 'UZR_dm_SS_gallery__0048.jpg' | asset_url | split:'?' | first }}" alt="Super Saturday Event" /></a></li>
					<li class="item"><a rel="gallery1" class="fancybox" href="{{ 'UZR_dm_SS_gallery__0049.jpg' | asset_url | split:'?' | first }}"><img src="{{ 'UZR_dm_SS_gallery__0049.jpg' | asset_url | split:'?' | first }}" alt="Super Saturday Event" /></a></li>
					<li class="item"><a rel="gallery1" class="fancybox" href="{{ 'UZR_dm_SS_gallery__0050.jpg' | asset_url | split:'?' | first }}"><img src="{{ 'UZR_dm_SS_gallery__0050.jpg' | asset_url | split:'?' | first }}" alt="Super Saturday Event" /></a></li>
					<li class="item"><a rel="gallery1" class="fancybox" href="{{ 'UZR_dm_SS_gallery__0051.jpg' | asset_url | split:'?' | first }}"><img src="{{ 'UZR_dm_SS_gallery__0051.jpg' | asset_url | split:'?' | first }}" alt="Super Saturday Event" /></a></li>
					<li class="item"><a rel="gallery1" class="fancybox" href="{{ 'UZR_dm_SS_gallery__0052.jpg' | asset_url | split:'?' | first }}"><img src="{{ 'UZR_dm_SS_gallery__0052.jpg' | asset_url | split:'?' | first }}" alt="Super Saturday Event" /></a></li>
					<li class="item"><a rel="gallery1" class="fancybox" href="{{ 'UZR_dm_SS_gallery__0053.jpg' | asset_url | split:'?' | first }}"><img src="{{ 'UZR_dm_SS_gallery__0053.jpg' | asset_url | split:'?' | first }}" alt="Super Saturday Event" /></a></li>
					<li class="item"><a rel="gallery1" class="fancybox" href="{{ 'UZR_dm_SS_gallery__0054.jpg' | asset_url | split:'?' | first }}"><img src="{{ 'UZR_dm_SS_gallery__0054.jpg' | asset_url | split:'?' | first }}" alt="Super Saturday Event" /></a></li>
				</ul>
			</div>
		</div>
  		<div class="section super-bg-3">
  			<div class="sixteen columns">
  				<div class="sixteen columns">
					<div class="one-half light left">
						<p>Twenty years ago, Donna Karan and the late Editor of Harper’s Bazaar Liz Tilberis started Super Saturday in Liz’s backyard to bring awareness for all women battling ovarian cancer, an insidious disease that threatens women everywhere.<br /><br/>
		“No one shines brighter than Liz Tilberis. A mother, an educator, a communicator, a leader. It was a privilege to call Liz my friend. Liz is an inspiration to us all.”<br/>– Donna Karan</p>
					</div><div class="one-half right">
					<img src="{{ 'UZR_m_SS_Stephan_DK_Liz.jpg' | asset_url | split:'?' | first }}" alt="Super Saturday Event" />
					
					</div>
				</div>	
			</div>	
  		</div>
</div>


	
<script type="text/javascript">
	$(window).ready(function() {
		$('.cell-video-container .absolute-scroll').delay(2500).fadeIn(2000);
		$('.cell-video-container .text').delay(2000).fadeIn(2000);
		$('.cell-video-container .text').delay(1000).fadeOut(3000);
		function scrollToAnchor(aid){
    var aTag = $("a[name='"+ aid +"']");
    $('html,body').animate({scrollTop: aTag.offset().top -0},'slow');
	}

		$("#link").click(function() {
	   scrollToAnchor('jump-to');
	});
	});
</script>
