<section class="fp-section section center">
	<div class="ourStorySlider">
		<ul class="slides">
			<li class="item award-slide-1"></li>
			<li class="item award-slide-2"></li>
			<li class="item award-slide-3"></li>
			<li class="item award-slide-4"></li>
		</ul>
	</div>	
	<div class="text text3">
		<h1 class="light uppercase">Stephan Weiss<br/>Apple Awards</h1>
	</div>
	<div class="absolute-scroll bottom center">
		<a id="link" class="light learn-more">EXPLORE<span></span></a>
	</div>
</section> 
<section class="fp-section section center first-bg light">
	<div class="container">
		<a name="jump-to" href="#"></a>
		<div class="sixteen center dark">
			<p class="center">June 7, 2017</p>
			<h1 class="center uppercase">Our Community<br/>Creating Change</h1>
			<p><br/>On Wednesday, June 7th 2017, the Stephan Weiss Apple Awards honored Hillary Rodham Clinton, Nadja Swarovski, and the late Sandy Gallin at the Stephan Weiss Studio in New York City. Created by Donna Karan in 2011 to celebrate the legacy of her husband, Stephan Weiss, the Apple Awards acknowledges luminaries who are making a difference in the three areas to which the Urban Zen Foundation is devoted: preservation of culture, healthcare, and education.<br/><br/>
The evening began with cocktails in the garden, where Donna Karan was joined by Nadja Swarovski, Andy Cohen, Bernadette Peters, Calvin Klein, Camilla Staerk, Christie Brinkley, Diane von Furstenberg, Helena Christensen, Hugh Jackman & Deborra-Lee Furness, Huma Abedin, Inez van Lamsweerde & Vinoodh Matadin, Kelly Klein, Kenneth Cole & Maria Cuomo Cole, Maria Borges, Prabal Gurung, Russell James, Sandra Brant, Stefano Tonchi & David Maupin, Trey Laird, Vera Wang, and Zainab Salbi. The evening continued in the Stephan Weiss Studio, with remarks from Founder of Urban Zen, Donna Karan, Founder of Women for Women International, Zainab Salbi, designer Diane von Furstenberg, and honorees Hillary Clinton & Nadja Swarovski.<br/><br/>
<strong>#FANFORHAITI</strong><br/>
At the event, guests participated in the #FanforHaiti Instagram campaign, a conscious movement to raise awareness and preserve the culture of Haiti through social media. Each fan is made from recycled paper and hand painted by Haitian artisans. Fans are available to purchase in Urban Zen stores and at urbanzen.com. Join the movement.</p>
		</div>
	</div>	
</section>
<section class="fp-section section light">
	<div class="container light">
	<div class="one-half left">
		<div>
			<div class="one-half left thumbnail">	
				<img src="{{ 'transparent.gif' | asset_url | split:'?' | first }}" data-src="{{ 'AA_AppleOutdoors.jpg' | asset_url | split:'?' | first }}" alt="Haiti Artisan Project" width="100%" />
			</div><div class="one-half right"><p class="text-left"><span class="bold">I hope that all of us draw inspiration from Donna as we think about what more we can do.</span><br/><br/><span class="thin">The Honorable Hillary Rodham Clinton, Honoree</span></p></div>
		</div>
		<div class="mobile-flex">
			<div class="one-half left"><p class="text-left"><span class="bold">The Inpact of our services, deeds and philantrhropic efforts can be very powerful and spart the light that grows from one to many.</span><br/><br/><span class="thin">Nadja Swarovski, Honoree</span></p></div><div class="one-half right thumbnail">	
			<img src="{{ 'transparent.gif' | asset_url | split:'?' | first }}" data-src="{{ 'AA_Gallery_DVF.jpg' | asset_url | split:'?' | first }}" alt="DVH Speaking" width="100%" /></div>
		</div>
	</div><div class="one-half right thumbnail">
			<img src="{{ 'transparent.gif' | asset_url | split:'?' | first }}" data-src="{{ 'AA_Gallery_Ladies.jpg' | asset_url | split:'?' | first }}" alt="Gallery Ladies" width="100%" />
		</div>
	<br/><br/><br/><br/>
	<div class="four columns alpha thumbnail fade hover-text">
		<div class="relative"><img width="50" height="50" src="{{ 'transparent.gif' | asset_url | split:'?' | first  }}" data-src="{{ 'AA_Gallery_DK-and-Lise.jpg' | asset_url | split:'?' | first}}"><h4 class="text light normalcase">Donna Karan with The Honorable Hillary Clinton and Lise Evans</h4></div>
	</div>
	<div class="four columns alpha thumbnail fade hover-text">
		<div class="relative"><img width="50" height="50" src="{{ 'transparent.gif' | asset_url | split:'?' | first  }}" data-src="{{ 'AA_Gallery_Andy.jpg' | asset_url | split:'?' | first}}"><h4 class="text light normalcase">Andy Cohen with Donna Karan</h4></div>
	</div>

	<div class="four columns alpha thumbnail fade hover-text">
		<div class="relative"><img width="50" height="50" src="{{ 'transparent.gif' | asset_url | split:'?' | first  }}" data-src="{{ 'AA_Gallery_Donna_Hugh.jpg' | asset_url | split:'?' | first}}"><h4 class="text light normalcase">Donna Karan with Hugh Jackman</h4></div>
	</div>

	<div class="four columns alpha thumbnail fade hover-text">
		<div class="relative"><img width="50" height="50" src="{{ 'transparent.gif' | asset_url | split:'?' | first  }}" data-src="{{ 'AA_Gallery_Inez.jpg' | asset_url | split:'?' | first}}"><h4 class="text light normalcase">Inez and Vinoodh</h4></div>
	</div>
	<div class="four columns alpha thumbnail fade hover-text">
		<div class="relative"><img width="50" height="50" src="{{ 'transparent.gif' | asset_url | split:'?' | first  }}" data-src="{{ 'AA_Gallery_photobooth.gif' | asset_url | split:'?' | first}}"><h4 class="text light normalcase">Haiti Fan Photobooth</h4></div>
	</div>
	<div class="four columns alpha thumbnail fade hover-text">
		<div class="relative"><img width="50" height="50" src="{{ 'transparent.gif' | asset_url | split:'?' | first  }}" data-src="{{ 'AA_Gallery_Fern_Steven_Kayunger.jpg' | asset_url | split:'?' | first}}"><h4 class="text light normalcase">Fern Mallis, Steven Kolb and Kay Unger</h4></div>
	</div>
	<div class="four columns alpha thumbnail fade hover-text">
		<div class="relative"><img width="50" height="50" src="{{ 'transparent.gif' | asset_url | split:'?' | first  }}" data-src="{{ 'AA_Gallery_Zainab_Huma.jpg' | asset_url | split:'?' | first}}"><h4 class="text light normalcase">Zainab Salbi and Huma Abedin</h4></div>
	</div>
	<div class="four columns alpha thumbnail fade hover-text">
		<div class="relative"><img width="50" height="50" src="{{ 'transparent.gif' | asset_url | split:'?' | first  }}" data-src="{{ 'AA_Gallery_Bastian.jpg' | asset_url | split:'?' | first}}"><h4 class="text light normalcase">Jim Bastian</h4></div>
	</div>
</div>
</section>
<section class="fp-section section center last-bg light">
	<div class="container">
		<div class="">
			<p>HELP US HELP</p>
			<h1 class="light uppercase">Make A Difference</h1>
			<p>Our support for Haiti continues beyond this event.<br/>Your donation is critical to furthering our mission.<br/>See some of our goals for the year below.</p><br/><br/><br/><br/>
		</div>
		<div class="one-third">
			<p>Provide meals and school supplies for</p>
			<h1 class="thick">1,000</h1>
			<p>Children</p><br/><br/>
		</div>
		<div class="one-third">
		<p>Provide art and yoga classes for</p>
			<h1 class="thick">1,000</h1>
			<p>Children</p><br/><br/>
		</div>
		<div class="one-third">
			<p>Launch the Sandy Gallin UCLA Program and train</p>
			<h1 class="thick">100</h1>
			<p>Nurses</p><br/><br/>
		</div>

		<a class="cta-button yellow margin-top"  href="http://urbanzen.org/donate">DONATE</a>
	</div>	
</section>

