	<div class="storesSlider fadeIn">
		<ul class="slides">
			<li class="alpha inline thumbnail">
				<img src="{{ 'loader.gif' | asset_url | split:'?' | first }}" data-src="{{ 'dm_Store_NYC_c.jpg' | asset_url | split:'?' | first }}" alt="Urban Zen - New York City" width="100%" height="auto" />
				<span class="caption">New York City</span>
			</li>
			<li class="alpha inline thumbnail">
				<img src="{{ 'loader.gif' | asset_url | split:'?' | first }}" data-src="{{ 'Store_UZLA_2.jpg' | asset_url | split:'?' | first }}" alt="Urban Zen - Los Angeles" width="100%" height="auto" />
				<span class="caption">Los Angeles</span>
			</li>
			{% comment %}
			<li class="alpha inline thumbnail">
				<img src="{{ 'loader.gif' | asset_url | split:'?' | first }}" data-src="{{ 'store_photo_Manhasset_SS17_A1.jpg' | asset_url | split:'?' | first }}" alt="Urban Zen - Manhasset" width="100%" height="auto" />
				<span class="caption">Manhasset</span>
			</li>
			<li class="alpha inline thumbnail">
				<img src="{{ 'loader.gif' | asset_url | split:'?' | first }}" data-src="{{ 'Store_SagHarbor.jpg' | asset_url | split:'?' | first }}" alt="Urban Zen - Sag Harbor" width="100%" height="auto" />
				<span class="caption">Sag Harbor</span>
			</li>
			<!--<li class="alpha inline thumbnail">
				<img src="{{ 'loader.gif' | asset_url | split:'?' | first }}" data-src="{{ 'Store_Aspen.jpg' | asset_url | split:'?' | first }}" alt="Urban Zen - Aspen" width="100%" height="auto" />
				<span class="caption">Aspen</span>
			</li>-->
			{% endcomment %}
			<li class="alpha inline thumbnail">
				<img src="{{ 'loader.gif' | asset_url | split:'?' | first }}" data-src="{{ 'Store_RetailPartners_Bergdorf.jpg' | asset_url | split:'?' | first }}" alt="Urban Zen - Bergdorf Goodman" width="100%" height="auto" />
				<span class="caption">Bergdorf Goodman - Retail Partner</span>
			</li>
		</ul>
	</div>
	<dl class="accordion store-accordion">
		<div class="border-separate"></div><dt><a class="open" onclick="javascript:window.location.href='#new-york-city'" href="#new-york-city"></a><small class="right"><span class="down-angle"></span></small><h2>New York City</h2></dt>
		<dd>
			<div class="section">
				<p>
					<a target="_blank" href="https://www.google.com/maps/place/705+Greenwich+St,+New+York,+NY+10014/@40.7340016,-74.0070185,15z/data=!4m2!3m1!1s0x89c259eb569112e7:0xf300a080391c8241sa=X&ei=VIpGVKGJO5PBggSQ1YLoCA&sqi=2&ved=0CB0Q8gEwAA">705 Greenwich St<br>New York, NY 10014</a><br>
					<a href="tel:2122063999">212.206.3999</a><br>
					<a href="mailto:newyorkcity@urbanzen.com">newyorkcity@urbanzen.com</a>
				</p>
			</div>
			<div class="section">
				<p>Mon – Wed, 10AM – 6PM<br>Thurs, 10AM – 7PM<br>Fri, 10AM – 6PM<br>Sat, 11AM – 6PM<br>Sun, Closed</p>
			</div>
		</dd>
		<div class="border-separate"></div><dt><a class="open" onclick="javascript:window.location.href='#los-angeles'" href="#los-angeles"></a><small class="right"><span class="down-angle"></span></small><h2>Los Angeles</h2></dt>
		<dd>
			<div class="section">
				<p><a target="_blank" href="https://goo.gl/maps/6sxZiecj1EN2">9045 Nemo St<br>West Hollywood, CA 90069</a><br>
					<a href="tel:4243350655">424.335.0655</a><br>
					<a href="mailto:losangeles@urbanzen.com">losangeles@urbanzen.com</a></p>
				</div>
				<div class="section">
					<p>Mon - Sat, 10AM - 6PM<br>Sun, closed<br></p>	

				</div>
			</dd>
			{% comment %}
			<div class="border-separate"></div><dt><a class="open" onclick="javascript:window.location.href='#manhasset'" href="#manhasset"></a><small class="right"><span class="down-angle"></span></small><h2>Manhasset</h2></dt>
			<dd>
				<div class="section">
					<p>
						<a target="_blank" href="https://www.google.com/maps/place/2072+Northern+Blvd,+Manhasset,+NY+11030/@40.795971,-73.6737094,17z/data=!3m1!4b1!4m2!3m1!1s0x89c2888c2685b66f:0xcbf8ab7307077321?q=2072+Northern+Blvd.+%7C+Manhasset+,+NY+11030&um=1&ie=UTF-8&sa=X&ved=0ahUKEwj1tdKv7LHLAhWDFz4KHUoCDgIQ_AUIBygB">2072 Northern Blvd.<br>Manhasset, NY 11030</a><br>
						<a href="tel:5169189595">516.918.9595</a><br>
						<a href="mailto:manhasset@urbanzen.com">manhasset@urbanzen.com</a>
					</p>
				</div>
				<div class="section">
					<p>Mon - Wed, 10AM - 6PM<br>Thurs - Sat, 10AM - 7PM<br>Sun, 12PM - 6PM</p>
				</div>
			</dd>
			<div class="border-separate"></div><dt><a class="open" onclick="javascript:window.location.href='#sag-harbor'" href="#sag-harbor"></a><small class="right"><span class="down-angle"></span></small><h2>Sag Harbor</h2></dt>
			<dd>
				<div class="section">
					<p>
						<a target="_blank" href="https://www.google.com/maps/place/Urban+Zen/@41.0016705,-72.2962395,17z/data=!4m7!1m4!3m3!1s0x89e8bd2515ec2899:0xa6177d4c319547eb!2s4+Bay+St,+Sag+Harbor,+NY+11963!3b1!3m1!1s0x89e8bd253e6ec7e3:0xa6888498759fc0e4">4 Bay Street<br>Sag Harbor, NY 11963</a><br>
						<a href="tel:6317256176">631.725.6176</a><br>
						<a href="mailto:sagharbor@urbanzen.com">sagharbor@urbanzen.com</a>
					</p>
				</div>
				<div class="section">
					<p>Mon - Thurs, 10AM - 5PM<br>Fri - Sat, 10AM - 6PM<br>Sun, 11AM - 5PM</p>
				</div>
			</dd>
			<!--
			<div class="border-separate"></div><dt><a class="open" onclick="javascript:window.location.href='#aspen'" href="#aspen"></a><small class="right"><span class="down-angle"></span></small><h2>Aspen</h2></dt>
			<dd>
				<div class="section">
					<p>
						<a target="_blank" href="https://www.google.com/maps/place/625+E+Hyman+Ave,+Aspen,+CO+81611/@39.1882427,-106.819118,17z/data=!3m1!4b1!4m5!3m4!1s0x87403bd86d2106e1:0x4af5999b864c0505!8m2!3d39.1882427!4d-106.8169293">625 E. Hyman Avenue<br>Aspen, Colorado 81611</a><br>
						<a href="tel:9707102961">970.710.2961</a><br>
						<a href="mailto:aspen@urbanzen.com">aspen@urbanzen.com</a>
					</p>
				</div>
				<div class="section">
					<p>Closing for the season, April 15th</p>
					<p>Mon - Sat, 11AM - 6PM<br>Sun, 12PM - 5PM<br><i>* Please call the store to confirm operating hours.</i></p>	
				</div>
			</dd>
			-->
			{% endcomment %}
			<div class="border-separate"></div><dt><a class="open" onclick="javascript:window.location.href='#retail-partners'" href="#retail-partners"></a><small class="right"><span class="down-angle"></span></small><h2>Retail Partners</h2></dt>
			<dd>
				<dl class="accordion-sub">
					<dt class="sub"><a class="sub-open" href="#"></a><small class="right"><span class="down-angle"></span></small><h6>usa</h6></dt>
					<dd>
						<div class="sixteen section  columns clearfix animated ">
							<div class="four columns">
								<div class="section">
									<p>
										<strong>A’MAREE’S</strong><br>
										2241 West Coast Highway<br>
										Newport Beach, CA 92663<br>
										949.642.4423<br>
										<br>
										<strong>BERGDORF GOODMAN</strong><br>
										754 Fifth Avenue<br>
										New York, NY 10019<br>
										800.558.1855<br>
										<br>
										<strong>CHOICES</strong><br>
										5416 Walnut Street<br>
										Pittsburgh, PA 15232<br>
										412.687.7600<br>
										<br>
										<strong>GILDA’S</strong><br>
										101 Union St # B<br>
										Newton, MA 02459<br>
										617.964.7199<br>
										<br>
										<strong>JOAN SHEPP</strong><br>
										1811 Chestnut St<br>
										Philadelphia, PA 19103<br>
										215.735.2666<br>
										<br>
										<strong>NEAPOLITAN</strong><br>
										560 Chestnut Street<br>
										Winnetka, IL 60093<br>
										847.441.7784<br>
										<br>
										<strong>SANTA FE DRY GOODS</strong><br>
										53 Old Santa Fe Trail<br>
										Santa Fe, NM 87501 <br>
										(505) 983-8142<br>
										<br>
										<strong>NEIMAN MARCUS - NORTHPARK</strong><br>
										8687 North Central Expressway, Suite 400<br>
										Dallas, TX <br>
										(214) 363-8311<br>
										<br>
										<strong>NEIMAN MARCUS - HOUSTON GALLERIA</strong><br>
										2600 Post Oak Boulevard<br>
										Houston, TX <br>
										(713) 621-7100<br>
										<br>
										<strong>NEIMAN MARCUS - BEVERLY HILLS</strong><br>
										9700 Wilshire Boulevard<br>
										Beverly Hills, CA <br>
										(310) 550-5900<br>
										<br>
										<strong>NEIMAN MARCUS - SAN FRANCISCO</strong><br>
										150 Stockton Street<br>
										San Francisco, CA <br>
										(415) 362-3900<br>
										<br>
										<strong>NEIMAN MARCUS - MICHIGAN AVENUE</strong><br>
										737 N. Michigan Avenue<br>
										Boston, MA <br>
										(312) 642-5900<br>
										<br>
										<strong>NEIMAN MARCUS - BOSTON</strong><br>
										5 Copley Place<br>
										Dallas, TX <br>
										(617) 536-3660<br>
										<br>
										<strong>NEIMAN MARCUS - DENVER</strong><br>
										3030 E. 1st Avenue<br>
										Denver, CO <br>
										(303) 329-2600<br>
										<br>
										<strong>NEIMAN MARCUS - TROY</strong><br>
										2705 W. Big Beaver Road<br>
										Troy, MI <br>
										(248) 643-3300<br>
										<br>
										<strong>RTW</strong><br>
										186 King Street<br>
										Charleston, SC <br>
										(843) 577-9748<br>
									</p>
								</div>
							</div>
						</div>
					</dd>
					<div class="border-separate"></div><dt><a class="sub-open" href="#"></a><small class="right"><span class="down-angle"></span></small><h6>europe</h6></dt>
					<dd>
						<div class="sixteen section columns clearfix animated ">
							<div class="four columns">
								<div class="section">
									<p>
										<strong>TROIS POMMES | BASEL</strong><br>
										Freie Strasse 74 4051<br>
										Basel, Switzerland<br>
										41.61.272.92.55<br>
										<br>
										<strong>TROIS POMMES | GSTAAD</strong><br>
										Palace Strasse 1 3780<br>
										Gstaad, Switzerland<br>
										41.33.744.74.41<br>
										<br>
										<strong>TROIS POMMES | ST. MORITZ</strong><br>
										Via Veglia 8 7500<br>
										St. Moritz, Switzerland<br>
										41.81.833.72.58<br>
										<br>
										<strong>TROIS POMMES | ZURICH</strong><br>
										Bahnhofstrasse 18<br>
										8001 Zürich, Switzerland<br>
										41.44.211.09.43<br>
										<br>
										<strong>ROSA HOJAS</strong><br>
										Carrer Del Tenor Viñas, 8<br>
										Barcelona, Spain 08021<br>
										34.932.41.94.80
									</p>
								</div>
							</div>
						</div>
					</dd>
					<div class="border-separate"></div><dt><a class="sub-open" href="#"></a><small class="right"><span class="down-angle"></span></small><h6>russia</h6></dt>
					<dd>
						<div class="sixteen section columns clearfix animated ">
							<div class="four columns">
								<div class="section">
									<p>
										<strong>SVMOSCOW</strong><br>
										Malaya Molchanovka, 6<br>
										Moscow, Russia, 121069<br>
										+7 495 215-53-51<br>
									</p>
								</div>
							</div>
						</div>
					</dd>
					<div class="border-separate"></div><dt><a class="sub-open" href="#"></a><small class="right"><span class="down-angle"></span></small><h6>asia</h6></dt>
					<dd>
						<div class="sixteen section columns clearfix animated ">
							<div class="four columns">
								<div class="section">
									<p>
										<strong>CLUB21</strong><br>
										Four Seasons Hotel Singapore<br>
										#01-01/02<br>
										190 Orchard Boulevard<br>
										Singapore 248646<br>
										+65 6304 1385<br>
									</p>

								</div>
							</div>
						</div>
					</dd>
				</dl>
			</dd>
		</dl>


		<script>
			$(document).ready(function() {
				// Hide all panels
			
				var accordion = $('.accordion > dd').hide();
				var submenu = $('.accordion-sub > dd').hide();				
				// Show first panel by default
				
				function getAnchor(url){
					var index = url.lastIndexOf('#');
				    if (index != -1)
				        return url.substring(index);
				}
				currentAnchor = getAnchor(location.href);
				$(document).find('a[href="'+ currentAnchor +'"]').parent().next('dd').show();
				console.log($(document).find('a[href=""]').next('dd').show());


				$('.open').on('touchstart click',function(e) {

					$this = $(this);
					$target =  $this.parent().next();
					if(!$this.hasClass('close')){
						
						$('dt').find('small.right').html('<span class="down-angle"></span>');
						$('.open').removeClass('close');
						accordion.slideUp();
						$this.addClass('close');
						$target.slideDown();
						$(this).parent('dt').find('small.right').html('<span class="up-angle"></span>');
					}else{

						$target.slideUp();
						$this.removeClass('close');
						$('dt').find('small.right').html('<span class="down-angle"></span>');
					}

				});
				$('.sub-open').on('touchstart click',function(e) {
					console.log('sub clicked!');
					e.preventDefault();
					$this = $(this);
					$subTarget =  $this.parent().next();
					if(!$this.hasClass('close')){
						console.log('accordion-sub');
						$('dt').find('small.right').html('<span class="down-angle"></span>');
						$('.sub-open').removeClass('close');
						submenu.slideUp();
						$this.addClass('close');
						$subTarget.slideDown();
						$(this).parent('dt').find('small.right').html('<span class="up-angle"></span>');
					}else{
						console.log('clicked Closed!');
						$subTarget.slideUp();
						$this.removeClass('close');
						$('dt').find('small.right').html('<span class="down-angle"></span>');
					}
					return false;
				});
				currentSlide = 0;
				if(currentAnchor == '#new-york-city'){
					currentSlide = 0;
				}
				else if(currentAnchor == '#los-angeles'){
					currentSlide = 1;
				}
				else if(currentAnchor == '#manhasset'){
					currentSlide = 2;
				}
				else if(currentAnchor == '#sag-harbor'){
					currentSlide = 3;
				}	
				else if(currentAnchor == '#aspen'){
					currentSlide = 4;
				}
				else if(currentAnchor == '#retail-partners'){
					currentSlide = 5;
				}

				$('.storesSlider').flexslider({
					animation: "slide",
					animationLoop: false,
					slideshow:false,
					directionNav:true,
					prevText:'',
					nextText:'',
					startAt: currentSlide,
					manualControls:".accordion .open"
				});
			});
		</script>