	<section class="fp-section section one center">
		<div class="text text3">
			<h1 class="light uppercase">Fan For Haiti</h1>
		</div>
		<div class="absolute-scroll bottom center">
			<a id="link" class="light learn-more">EXPLORE<span></span></a>
		</div>
	</section> 
	<a name="jump-to" href="#"></a>
	<div class="container fan-bg top-bottom-extra-padding light">
		<div class="sixteen center dark">
			<h1 class="center uppercase">About the Fans</h1>
			
			<p><br/>Owned by Magalie Dresse, Haiti-based Caribbean Craft creates these paper mache fans utilizing a team of talented artisans and painters. While the fan itself is beautiful as a piece of art, it's even more impressive in how it helps support a growing and increasingly more stable artists' community in Haiti, with 100% of its proceeds going toward our Foundation.</p>
		</div>
		<br/><br/>
		<div class="one-third thumbnail hover-text">
			<div class="relative">
			<img src="{{ 'transparent.gif' | asset_url | split:'?' | first }}" data-src="{{ 'process_1.jpg' | asset_url | split:'?' | first }}" alt="Haiti Artisan Project" width="100%" />
			<h4 class="text light normalcase">Made by hand #FansforHaiti</h4>
			</div>
		</div>
		<div class="one-third thumbnail hover-text">
			<div class="relative">
			<img src="{{ 'transparent.gif' | asset_url | split:'?' | first }}" data-src="{{ 'process_2.jpg' | asset_url | split:'?' | first }}" alt="D.O.T" width="100%" />
			<h4 class="text light normalcase">Each fan is made from recycled paper and hand painted by artisans</h4>
			</div>
		</div>
		<div class="one-third thumbnail hover-text">
			<div class="relative">
			<img src="{{ 'transparent.gif' | asset_url | split:'?' | first }}" data-src="{{ 'process_3.jpg' | asset_url | split:'?' | first }}" alt="Urban Zen Integrative Therapy Program" width="100%" />
			<h4 class="text light normalcase">Preserve the culture of Haiti with the purchase of this fan</h4>
			</div>
		</div>
		
		<div class="black-background"></div>
	</div>
	<div class="container light inline-block">
		<div class="align_center">
			<h2>Get Your Fan</h2><br/><br/>
		</div>
		<div class="light">
			{% assign products = collections.['fans-of-haiti-page'].products %}
      		{% include 'product-loop' %}
      		<br/><br/>
      		<div class="align_center">
      		<a href="/collections/accessories/Fans-for-Haiti" class="purchase cta-button">shop all fans</a>
      		</div>
		</div>
	</div>	

	<div class="container light center dark">
		<h1 class="uppercase">Share and Get Involved</h1>
		<p>Post a selfie with your fan and show us how you are a "fan" for Haiti.<br/>#FanForHaiti @UrbanZen @donnakaranthewoman<br/><br/>
	
	 <div class="four columns alpha thumbnail fade hover-text">
          <div class="relative"><img width="50" height="50" src="{{ 'transparent.gif' | asset_url | split:'?' | first  }}" data-src="{{ 'FansImage1.jpg' | asset_url | split:'?' | first}}"><h4 class="text light normalcase">Behind-the-Scenes with @Jieunib</h4></div>
      </div>
      

    <div class="four columns alpha thumbnail fade hover-text">
          <div class="relative"><img width="50" height="50" src="{{ 'transparent.gif' | asset_url | split:'?' | first  }}" data-src="{{ 'FansImage2.jpg' | asset_url | split:'?' | first}}"><h4 class="text light normalcase">#FanForHaiti @gothammag</h4></div>
      </div>
      
      <div class="four columns alpha thumbnail fade hover-text">
          <div class="relative"><img width="50" height="50" src="{{ 'transparent.gif' | asset_url | split:'?' | first  }}" data-src="{{ 'FansImage3.jpg' | asset_url | split:'?' | first}}"><h4 class="text light normalcase">Behind-the-Scenes with @tianatolstoi</h4></div>
      </div>
      <div class="four columns alpha thumbnail fade hover-text">
          <div class="relative"><img width="50" height="50" src="{{ 'transparent.gif' | asset_url | split:'?' | first  }}" data-src="{{ 'FansImage4.jpg' | asset_url | split:'?' | first}}"><h4 class="text light normalcase">#FansforHaiti @neopolitancollection</h4></div>
      </div>
      <div class="four columns alpha thumbnail fade hover-text">
          <div class="relative"><img width="50" height="50" src="{{ 'transparent.gif' | asset_url | split:'?' | first  }}" data-src="{{ 'FansImage5.jpg' | asset_url | split:'?' | first}}"><h4 class="text light normalcase">@nanakeita and @muribeal</h4></div>
      </div>
      <div class="four columns alpha thumbnail fade hover-text">
          <div class="relative"><img width="50" height="50" src="{{ 'transparent.gif' | asset_url | split:'?' | first  }}" data-src="{{ 'FansImage6.jpg' | asset_url | split:'?' | first}}"><h4 class="text light normalcase">@jieunib and @sharinagutierrez </h4></div>
      </div>
      <div class="four columns alpha thumbnail fade hover-text">
          <div class="relative"><img width="50" height="50" src="{{ 'transparent.gif' | asset_url | split:'?' | first  }}" data-src="{{ 'FansImage7.jpg' | asset_url | split:'?' | first}}"><h4 class="text light normalcase">Haiti’s biggest fan @donnakaranthewoman</h4></div>
      </div>
      <div class="four columns alpha thumbnail fade hover-text">
          <div class="relative"><img width="50" height="50" src="{{ 'transparent.gif' | asset_url | split:'?' | first  }}" data-src="{{'FansImage8.jpg' | asset_url | split:'?' | first}}"><h4 class="text light normalcase">Modern Soul @nanakeita</h4></div>
      </div>
	</div>
</div>
