<div class="sixteen columns">
	<div class="header-title">
		<h1>Harmony Collection</h1>
		<p>The following looks may not be available for purchase.</p>
	</div>
	<div class="negative-margins">
		<div class="align_left shop-container">
			<div class="image-row">
				<div class="eight columns alpha inline thumbnail" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/Product">
					<div class="flexwrap">
						<img width="100%" height="auto" src="{{ 'transparent.gif' | asset_url | split:'?' | first }}" data-src="{{ 'LB_2015_HARMONY_1_large.jpg' | asset_url | split:'?' | first }}" data-src-retina="{{ 'LB_2015_HARMONY_1_large.jpg' | asset_url | split:'?' | first }}" alt="Urban Zen - Harmony Collection"  />
					</div>
				</div>
				<div class="four columns alpha inline thumbnail" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/Product">
					<div class="flexwrap">
						<img width="100%" height="auto" src="{{ 'transparent.gif' | asset_url | split:'?' | first }}" data-src="{{ 'LB_2015_HARMONY_2_large.jpg' | asset_url | split:'?' | first }}" data-src-retina="{{ 'LB_2015_HARMONY_2_large.jpg' | asset_url | split:'?' | first }}" alt="Urban Zen - Harmony Collection"  />
					</div>
				</div>
				<div class="four columns alpha inline thumbnail" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/Product">
					<div class="flexwrap">
						<img width="100%" height="auto" src="{{ 'transparent.gif' | asset_url | split:'?' | first }}" data-src="{{ 'LB_2015_HARMONY_3_large.jpg' | asset_url | split:'?' | first }}" data-src-retina="{{ 'LB_2015_HARMONY_3_large.jpg' | asset_url | split:'?' | first }}" alt="Urban Zen - Harmony Collection"  />
					</div>
				</div>	
			</div>
			<div class="image-row">
				<div class="four columns alpha inline thumbnail" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/Product">
					<div class="flexwrap">
						<img width="100%" height="auto" src="{{ 'transparent.gif' | asset_url | split:'?' | first }}" data-src="{{ 'LB_2015_HARMONY_4_large.jpg' | asset_url | split:'?' | first }}" data-src-retina="{{ 'LB_2015_HARMONY_4_large.jpg' | asset_url | split:'?' | first }}" alt="Urban Zen - Harmony Collection"  />
					</div>
				</div><div class="four columns alpha inline thumbnail" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/Product">
					<div class="flexwrap">
						<img width="100%" height="auto" src="{{ 'transparent.gif' | asset_url | split:'?' | first }}" data-src="{{ 'LB_2015_HARMONY_5_large.jpg' | asset_url | split:'?' | first }}" data-src-retina="{{ 'LB_2015_HARMONY_5_large.jpg' | asset_url | split:'?' | first }}" alt="Urban Zen - Harmony Collection" />
					</div>
				</div><div class="eight columns alpha inline thumbnail" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/Product">
					<div class="flexwrap">
						<img width="100%" height="auto" src="{{ 'transparent.gif' | asset_url | split:'?' | first }}" data-src="{{ 'LB_2015_HARMONY_6_large.jpg' | asset_url | split:'?' | first }}" data-src-retina="{{ 'LB_2015_HARMONY_6_large.jpg' | asset_url | split:'?' | first }}" alt="Urban Zen - Harmony Collection"  />
					</div>
				</div>
			</div>
			<div class="image-row">
				<div class="eight columns alpha inline thumbnail" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/Product">
					<div class="flexwrap">
						<img width="100%" height="auto" src="{{ 'transparent.gif' | asset_url | split:'?' | first }}" data-src="{{ 'LB_2015_HARMONY_7_large.jpg' | asset_url | split:'?' | first }}" data-src-retina="{{ 'LB_2015_HARMONY_7_large.jpg' | asset_url | split:'?' | first }}" alt="Urban Zen - Harmony Collection"  />
					</div>
				</div><div class="four columns alpha inline thumbnail" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/Product">
					<div class="flexwrap">
						<img width="100%" height="auto" src="{{ 'transparent.gif' | asset_url | split:'?' | first }}" data-src="{{ 'LB_2015_HARMONY_8_large.jpg' | asset_url | split:'?' | first }}" data-src-retina="{{ 'LB_2015_HARMONY_8_large.jpg' | asset_url | split:'?' | first }}" alt="Urban Zen - Harmony Collection" />
					</div>
				</div><div class="four columns alpha inline thumbnail" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/Product">
					<div class="flexwrap">
						<img width="100%" height="auto" src="{{ 'transparent.gif' | asset_url | split:'?' | first }}" data-src="{{ 'LB_2015_HARMONY_9_large.jpg' | asset_url | split:'?' | first }}" data-src-retina="{{ 'LB_2015_HARMONY_9_large.jpg' | asset_url | split:'?' | first }}" alt="Urban Zen - Harmony Collection"  />
					</div>
				</div>
			</div>
			<div class="image-row">
				<div class="four columns alpha inline thumbnail" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/Product">
					<div class="flexwrap">
						<img width="100%" height="auto" src="{{ 'transparent.gif' | asset_url | split:'?' | first }}" data-src="{{ 'LB_2015_HARMONY_10_large.jpg' | asset_url | split:'?' | first }}" data-src-retina="{{ 'LB_2015_HARMONY_10_large.jpg' | asset_url | split:'?' | first }}" alt="Urban Zen - Harmony Collection"  />
					</div>
				</div><div class="four columns alpha inline thumbnail" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/Product">
					<div class="flexwrap">
						<img width="100%" height="auto" src="{{ 'transparent.gif' | asset_url | split:'?' | first }}" data-src="{{ 'LB_2015_HARMONY_11_large.jpg' | asset_url | split:'?' | first }}" data-src-retina="{{ 'LB_2015_HARMONY_11_large.jpg' | asset_url | split:'?' | first }}" alt="Urban Zen - Harmony Collection"  />
					</div>
				</div><div class="eight columns alpha inline thumbnail" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/Product">
					<div class="flexwrap">
						<img width="100%" height="auto" src="{{ 'transparent.gif' | asset_url | split:'?' | first }}" data-src="{{ 'LB_2015_HARMONY_12_large.jpg' | asset_url | split:'?' | first }}" data-src-retina="{{ 'LB_2015_HARMONY_12_large.jpg' | asset_url | split:'?' | first }}" alt="Urban Zen - Harmony Collection"  />
					</div>
				</div>
			</div>
			<div class="image-row">
				<div class="four columns alpha inline thumbnail" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/Product">
					<div class="flexwrap">
						<img width="100%" height="auto" src="{{ 'transparent.gif' | asset_url | split:'?' | first }}" data-src="{{ 'LB_2015_HARMONY_13_large.jpg' | asset_url | split:'?' | first }}" data-src-retina="{{ 'LB_2015_HARMONY_13_large.jpg' | asset_url | split:'?' | first }}" alt="Urban Zen - Harmony Collection"  />
					</div>
				</div><div class="four columns alpha inline thumbnail" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/Product">
					<div class="flexwrap">
						<img width="100%" height="auto" src="{{ 'transparent.gif' | asset_url | split:'?' | first }}" data-src="{{ 'LB_2015_HARMONY_14_large.jpg' | asset_url | split:'?' | first }}" data-src-retina="{{ 'LB_2015_HARMONY_14_large.jpg' | asset_url | split:'?' | first }}" alt="Urban Zen - Harmony Collection"  />
					</div>
				</div><div class="four columns alpha inline thumbnail" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/Product">
					<div class="flexwrap">
						<img width="100%" height="auto" src="{{ 'transparent.gif' | asset_url | split:'?' | first }}" data-src="{{ 'LB_2015_HARMONY_15_large.jpg' | asset_url | split:'?' | first }}" data-src-retina="{{ 'LB_2015_HARMONY_15_large.jpg' | asset_url | split:'?' | first }}" alt="Urban Zen - Harmony Collection"  />
					</div>
				</div><div class="four columns alpha inline thumbnail" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/Product">
					<div class="flexwrap">
						<img width="100%" height="auto" src="{{ 'transparent.gif' | asset_url | split:'?' | first }}" data-src="{{ 'LB_2015_HARMONY_16_large.jpg' | asset_url | split:'?' | first }}" data-src-retina="{{ 'LB_2015_HARMONY_16_large.jpg' | asset_url | split:'?' | first }}" alt="Urban Zen - Harmony Collection" />
					</div>
				</div>
			</div>
			<div class="image-row">
				<div class="eight columns alpha inline thumbnail" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/Product">
					<div class="flexwrap">
						<img width="100%" height="auto" src="{{ 'transparent.gif' | asset_url | split:'?' | first }}" data-src="{{ 'LB_2015_HARMONY_17_large.jpg' | asset_url | split:'?' | first }}" data-src-retina="{{ 'LB_2015_HARMONY_17_large.jpg' | asset_url | split:'?' | first }}" alt="Urban Zen - Harmony Collection" />
					</div>
				</div><div class="four columns alpha inline thumbnail" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/Product">
					<div class="flexwrap">
						<img width="100%" height="auto" src="{{ 'transparent.gif' | asset_url | split:'?' | first }}" data-src="{{ 'LB_2015_HARMONY_18_large.jpg' | asset_url | split:'?' | first }}" data-src-retina="{{ 'LB_2015_HARMONY_18_large.jpg' | asset_url | split:'?' | first }}" alt="Urban Zen - Harmony Collection"  />
					</div>
				</div><div class="four columns alpha inline thumbnail" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/Product">
					<div class="flexwrap">
						<img width="100%" height="auto" src="{{ 'transparent.gif' | asset_url | split:'?' | first }}" data-src="{{ 'LB_2015_HARMONY_19_large.jpg' | asset_url | split:'?' | first }}" data-src-retina="{{ 'LB_2015_HARMONY_19_large.jpg' | asset_url | split:'?' | first }}" alt="Urban Zen - Harmony Collection"  />
					</div>
				</div>
			</div>
			<div class="image-row">
				<div class="eight columns alpha inline thumbnail" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/Product">
					<div class="flexwrap">
						<img width="100%" height="auto" src="{{ 'transparent.gif' | asset_url | split:'?' | first }}" data-src="{{ 'LB_2015_HARMONY_20_large.jpg' | asset_url | split:'?' | first }}" data-src-retina="{{ 'LB_2015_HARMONY_20_large.jpg' | asset_url | split:'?' | first }}" alt="Urban Zen - Harmony Collection"  />
					</div>
				</div><div class="four columns alpha inline thumbnail" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/Product">
					<div class="flexwrap">
						<img width="100%" height="auto" src="{{ 'transparent.gif' | asset_url | split:'?' | first }}" data-src="{{ 'LB_2015_HARMONY_21_large.jpg' | asset_url | split:'?' | first }}" data-src-retina="{{ 'LB_2015_HARMONY_21_large.jpg' | asset_url | split:'?' | first }}" alt="Urban Zen - Harmony Collection"  />
					</div>
				</div><div class="four columns alpha inline thumbnail" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/Product">
					<div class="flexwrap">
						<img width="100%" height="auto" src="{{ 'transparent.gif' | asset_url | split:'?' | first }}" data-src="{{ 'LB_2015_HARMONY_22_large.jpg' | asset_url | split:'?' | first }}" data-src-retina="{{ 'LB_2015_HARMONY_22_large.jpg' | asset_url | split:'?' | first }}" alt="Urban Zen - Harmony Collection"  />
					</div>
				</div>
			</div>
			<div class="image-row">
				<div class="four columns alpha inline thumbnail" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/Product">
					<div class="flexwrap">
						<img width="100%" height="auto" src="{{ 'transparent.gif' | asset_url | split:'?' | first }}" data-src="{{ 'LB_2015_HARMONY_23_large.jpg' | asset_url | split:'?' | first }}" data-src-retina="{{ 'LB_2015_HARMONY_23_large.jpg' | asset_url | split:'?' | first }}" alt="Urban Zen - Harmony Collection"  />
					</div>
				</div><div class="four columns alpha inline thumbnail" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/Product">
					<div class="flexwrap">
						<img width="100%" height="auto" src="{{ 'transparent.gif' | asset_url | split:'?' | first }}" data-src="{{ 'LB_2015_HARMONY_24_large.jpg' | asset_url | split:'?' | first }}" data-src-retina="{{ 'LB_2015_HARMONY_24_large.jpg' | asset_url | split:'?' | first }}" alt="Urban Zen - Harmony Collection"  />
					</div>
				</div><div class="eight columns alpha inline thumbnail" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/Product">
					<div class="flexwrap">
						<img width="100%" height="auto" src="{{ 'transparent.gif' | asset_url | split:'?' | first }}" data-src="{{ 'LB_2015_HARMONY_25_large.jpg' | asset_url | split:'?' | first }}" data-src-retina="{{ 'LB_2015_HARMONY_25_large.jpg' | asset_url | split:'?' | first }}" alt="Urban Zen - Harmony Collection" />
					</div>
				</div>
			</div>
			<div class="image-row">
				<div class="four columns alpha inline thumbnail" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/Product">
					<div class="flexwrap">
						<img width="100%" height="auto" src="{{ 'transparent.gif' | asset_url | split:'?' | first }}" data-src="{{ 'LB_2015_HARMONY_26_large.jpg' | asset_url | split:'?' | first }}" data-src-retina="{{ 'LB_2015_HARMONY_26_large.jpg' | asset_url | split:'?' | first }}" alt="Urban Zen - Harmony Collection" />
					</div>
				</div><div class="four columns alpha inline thumbnail" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/Product">
					<div class="flexwrap">
						<img width="100%" height="auto" src="{{ 'transparent.gif' | asset_url | split:'?' | first }}" data-src="{{ 'LB_2015_HARMONY_27_large.jpg' | asset_url | split:'?' | first }}" data-src-retina="{{ 'LB_2015_HARMONY_27_large.jpg' | asset_url | split:'?' | first }}" alt="Urban Zen - Harmony Collection"  />
					</div>
				</div><div class="eight columns alpha inline thumbnail" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/Product">
					<div class="flexwrap">
						<img width="100%" height="auto" src="{{ 'transparent.gif' | asset_url | split:'?' | first }}" data-src="{{ 'LB_2015_HARMONY_28_large.jpg' | asset_url | split:'?' | first }}" data-src-retina="{{ 'LB_2015_HARMONY_28_large.jpg' | asset_url | split:'?' | first }}" alt="Urban Zen - Harmony Collection"  />
					</div>
				</div>
			</div>
			
			<div class="image-row">
				<div class="four columns alpha inline thumbnail mobile_hidden" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/Product">
					<div class="flexwrap">
						<img width="100%" height="auto" src="{{ 'transparent.gif' | asset_url | split:'?' | first }}" data-src="{{ 'LB_2015_HARMONY_29_large.jpg' | asset_url | split:'?' | first }}" data-src-retina="{{ 'LB_2015_HARMONY_29_large.jpg' | asset_url | split:'?' | first }}" alt="Urban Zen - Harmony Collection"  />
					</div>
				</div><div class="eight columns alpha inline thumbnail" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/Product">
					<div class="flexwrap">
						<img width="100%" height="auto" src="{{ 'transparent.gif' | asset_url | split:'?' | first }}" data-src="{{ 'LB_2015_HARMONY_30_large.jpg' | asset_url | split:'?' | first }}" data-src-retina="{{ 'LB_2015_HARMONY_30_large.jpg' | asset_url | split:'?' | first }}" alt="Urban Zen - Harmony Collection" />
					</div>
				</div><div class="four columns alpha inline thumbnail mobile_hidden" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/Product">
					<div class="flexwrap">
						<img width="100%" height="auto" src="{{ 'transparent.gif' | asset_url | split:'?' | first }}" data-src="{{ 'LB_2015_HARMONY_31_large.jpg' | asset_url | split:'?' | first }}" data-src-retina="{{ 'LB_2015_HARMONY_31_large.jpg' | asset_url | split:'?' | first }}" alt="Urban Zen - Harmony Collection" />
					</div>
				</div>
			</div>
			<div class="image-row">
				<div class="eight columns alpha inline thumbnail" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/Product">
					<div class="flexwrap">
						<img width="100%" height="auto" src="{{ 'transparent.gif' | asset_url | split:'?' | first }}" data-src="{{ 'LB_2015_HARMONY_32_large.jpg' | asset_url | split:'?' | first }}" data-src-retina="{{ 'LB_2015_HARMONY_32_large.jpg' | asset_url | split:'?' | first }}" alt="Urban Zen - Harmony Collection" />
					</div>
				</div><div class="four columns alpha inline thumbnail" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/Product">
					<div class="flexwrap">
						<img width="100%" height="auto" src="{{ 'transparent.gif' | asset_url | split:'?' | first }}" data-src="{{ 'LB_2015_HARMONY_33_large.jpg' | asset_url | split:'?' | first }}" data-src-retina="{{ 'LB_2015_HARMONY_33_large.jpg' | asset_url | split:'?' | first }}" alt="Urban Zen - Harmony Collection"  />
					</div>
				</div><div class="four columns alpha inline thumbnail" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/Product">
					<div class="flexwrap">
						<img width="100%" height="auto" src="{{ 'transparent.gif' | asset_url | split:'?' | first }}" data-src="{{ 'LB_2015_HARMONY_34_large.jpg' | asset_url | split:'?' | first }}" data-src-retina="{{ 'LB_2015_HARMONY_34_large.jpg' | asset_url | split:'?' | first }}" alt="Urban Zen - Harmony Collection"  />
					</div>
				</div>
			</div>
		</div>
	</div>
</div>