</div>
<div id="">
	<section class="fp-section section">
		<div class="simpleFadeSlider mobile_hidden">
			<ul class="slides">
				<li class="item hpslide1a fadeIn">
					<div class="text right">
				<h1 class="light">THE ALCHEMIST CAMPAIGN</h1>
			</div>
				</li>
				<li class="item hpslide2a fadeIn">
					
				</li>
				<li class="item hpslide3a fadeIn">
					
				</li>
				<li class="item hpslide4a fadeIn">
					
				</li>
				<li class="item hpslide5a fadeIn">
					
				</li>
				<li class="item hpslide6a fadeIn">
					
				</li>
				<li class="item hpslide7a fadeIn">
					
				</li>
				<li class="item hpslide8a fadeIn">
					
				</li>
				
			</ul>
		</div>
	</section>
	<section class="fp-section section">
		<div class="text fullscreen">
		</div>
		<div class="cell-video-container">
			<iframe id="introVid" class="mobile_hidden" src="https://player.vimeo.com/video/205951967?background=1&autoplay=1" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
			<img width="100%" class="desktop_hidden" src="{{ 'Campaign_M_01.jpg' | asset_url | split:'?' | first }}" alt="Urban Zen Silk Road" />
		</div>
	</section>
	<section class="fp-section fp-auto-height section" id="nom-people">
		<div class="container">
	     	<div class="four columns alpha thumbnail ">
	        	<img width="50" height="50" src="{{ 'transparent.gif' | asset_url | split:'?' | first  }}" data-src="{{ 'BTS_1.jpg' | asset_url | split:'?' | first}}">
	    	</div>
	    	<div class="four columns alpha thumbnail ">
	        	<img width="50" height="50" src="{{ 'transparent.gif' | asset_url | split:'?' | first  }}" data-src="{{ 'BTS_2.jpg' | asset_url | split:'?' | first}}">
	    	</div>
	    	<div class="four columns alpha thumbnail ">
	        	<img width="50" height="50" src="{{ 'transparent.gif' | asset_url | split:'?' | first  }}" data-src="{{ 'BTS_3.jpg' | asset_url | split:'?' | first}}">
	    	</div>
	    	<div class="four columns alpha thumbnail ">
	        	<img width="50" height="50" src="{{ 'transparent.gif' | asset_url | split:'?' | first  }}" data-src="{{ 'BTS_4.jpg' | asset_url | split:'?' | first}}">
	    	</div>
	    	<div class="four columns alpha thumbnail ">
	        	<img width="50" height="50" src="{{ 'transparent.gif' | asset_url | split:'?' | first  }}" data-src="{{ 'BTS_5.jpg' | asset_url | split:'?' | first}}">
	    	</div>
	    	<div class="four columns alpha thumbnail ">
	        	<img width="50" height="50" src="{{ 'transparent.gif' | asset_url | split:'?' | first  }}" data-src="{{ 'BTS_6.jpg' | asset_url | split:'?' | first}}">
	    	</div>
	    	<div class="four columns alpha thumbnail ">
	        	<img width="50" height="50" src="{{ 'transparent.gif' | asset_url | split:'?' | first  }}" data-src="{{ 'BTS_7.jpg' | asset_url | split:'?' | first}}">
	    	</div>
	    	<div class="four columns alpha thumbnail ">
	        	<img width="50" height="50" src="{{ 'transparent.gif' | asset_url | split:'?' | first  }}" data-src="{{ 'BTS_8.jpg' | asset_url | split:'?' | first}}">
	    	</div>
	    </div>	
    </section>	
	<section class="fp-section clearfix center section">
			<br/><br/>
			<h1 class="light uppercase">EXPLORE THE COLLECTION</h1><br/><br/>
			<a href="/pages/the-alchemist-collection/" class="cta-button" title="Our Stores">Shop</a>
		</div>
	</section>
</div>	
