		<section class="fp-section section one center">
		<div class="text text3">
			<h1 class="light uppercase">Fans of Haiti</h1>
		</div>
		<div class="absolute-scroll bottom center">
			<a id="link" class="light learn-more">EXPLORE<span></span></a>
		</div>
	</section> 
	<a name="jump-to" href="#"></a>
	<div class="container">
		<div class="sixteen center dark">
			<h1 class="center uppercase">About Us</h1>
			
			<p><br/>Urban Zen is timeless and seasonless, designed to go day into night, climate to climate, and travel your world - simply, sensually, uniquely. Urban Zen was created to be part of a soulful economy: we care what, how and where our designs are made. And you care who benefits by your purchase. Together, we are partners in caring for the world we live in.</p>
		</div>
		<br/><br/>
		<div class="one-third thumbnail hover-text">		
			<div class="relative">
			<img src="{{ 'transparent.gif' | asset_url | split:'?' | first }}" data-src="{{ 'process_1.jpg' | asset_url | split:'?' | first }}" alt="Haiti Artisan Project" width="100%" />
			<h4 class="text light normalcase">We are the original<br/>BUY NOW WEAR NOW Collection</h4>
			</div>
			<br/>
			<h4 class="dark thin">Available<br>In-Season</h4><br/>
			<a id="link" href="/pages/silk-road-collection" class="purchase cta-button dark">shop collection</a>
		</div>
		<div class="one-third thumbnail hover-text">
			<div class="relative">
			<img src="{{ 'transparent.gif' | asset_url | split:'?' | first }}" data-src="{{ 'process_2.jpg' | asset_url | split:'?' | first }}" alt="D.O.T" width="100%" />
			<h4 class="text light normalcase">Our designs are made with intention, integrating old world techniques into modern designs</h4>
			</div>
			<br/>
			<h4 class="dark thin">Inspired By<br>Global Artisans</h4><br/>
			<a id="link" href="/collections/features/global-artisans" class="purchase cta-button dark">shop artisan designs</a>
		</div>
		<div class="one-third thumbnail hover-text">
			<div class="relative">
			<img src="{{ 'transparent.gif' | asset_url | split:'?' | first }}" data-src="{{ 'process_3.jpg' | asset_url | split:'?' | first }}" alt="Urban Zen Integrative Therapy Program" width="100%" />
			<h4 class="text light normalcase">We are a marriage of philanthropy and commerce</h4>
			</div>
			<br/>
			<h4 class="dark thin">Urban Zen<br>Foundation</h4><br/>
			<a id="link" href="/pages/urban-zen-foundation" class="purchase cta-button dark">learn more</a>
		</div>
	</div>
	<section class="fp-section section founder center">
		<div class="text text3">			
			<h1 class="ivory">Our Founder</h1><br/><br/>
			<p class="light">“Urban Zen is my passion. It’s where all the things I care most about come together: creativity, compassion and community. It’s a connection of past, present and future.”<br/><br/></p><h5 class="light">DONNA KARAN</h5>
		</div>
	</section> 
	<div class="container center dark">
	
		<h1 class="uppercase">Follow Donna's Journey</h1>
		<h5>@DONNAKARANTHEWOMAN</h5><br/><br/>
	
	 <div class="four columns alpha thumbnail fade hover-text">
          <div class="relative"><img width="50" height="50" src="{{ 'transparent.gif' | asset_url | split:'?' | first  }}" data-src="{{ 'follow_1b.jpg' | asset_url | split:'?' | first}}"><h4 class="text light normalcase">Behind the Scenes</h4></div>
      </div>
      

    <div class="four columns alpha thumbnail fade hover-text">
          <div class="relative"><img width="50" height="50" src="{{ 'transparent.gif' | asset_url | split:'?' | first  }}" data-src="{{ 'follow_2a.jpg' | asset_url | split:'?' | first}}"><h4 class="text light normalcase">Apple Awards</h4></div>
      </div>
      
      <div class="four columns alpha thumbnail fade hover-text">
          <div class="relative"><img width="50" height="50" src="{{ 'transparent.gif' | asset_url | split:'?' | first  }}" data-src="{{ 'follow_7a.jpg' | asset_url | split:'?' | first}}"><h4 class="text light normalcase">Empowering Children</h4></div>
      </div>
      <div class="four columns alpha thumbnail fade hover-text">
          <div class="relative"><img width="50" height="50" src="{{ 'transparent.gif' | asset_url | split:'?' | first  }}" data-src="{{ 'follow_8a.jpg' | asset_url | split:'?' | first}}"><h4 class="text light normalcase">UZIT</h4></div>
      </div>
      <div class="four columns alpha thumbnail fade hover-text">
          <div class="relative"><img width="50" height="50" src="{{ 'transparent.gif' | asset_url | split:'?' | first  }}" data-src="{{ 'follow_4a.jpg' | asset_url | split:'?' | first}}"><h4 class="text light normalcase">D.O.T</h4></div>
      </div>
      <div class="four columns alpha thumbnail fade hover-text">
          <div class="relative"><img width="50" height="50" src="{{ 'transparent.gif' | asset_url | split:'?' | first  }}" data-src="{{ 'follow_5a.jpg' | asset_url | split:'?' | first}}"><h4 class="text light normalcase">Not One More</h4></div>
      </div>
      <div class="four columns alpha thumbnail fade hover-text">
          <div class="relative"><img width="50" height="50" src="{{ 'transparent.gif' | asset_url | split:'?' | first  }}" data-src="{{ 'follow_6a.jpg' | asset_url | split:'?' | first}}"><h4 class="text light normalcase">Travel</h4></div>
      </div>
      <div class="four columns alpha thumbnail fade hover-text">
          <div class="relative"><img width="50" height="50" src="{{ 'transparent.gif' | asset_url | split:'?' | first  }}" data-src="{{'follow_3a.jpg' | asset_url | split:'?' | first}}"><h4 class="text light normalcase">UZ LA</h4></div>
      </div>
	</div>
	</div>
