</div>
<div id="">
	<div class="cell-video-container">
		<div class="text">
			<h1 class="light">THE Silk Road Campaign</h1>
		</div>
		<div class="absolute-scroll center">
			
			<a id="link" class="light learn-more">EXPLORE<span></span></a>
		</div>
		<iframe id="introVid" class="mobile_hidden" src="https://player.vimeo.com/video/205951967?background=1&autoplay=1" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
		<img width="100%" class="desktop_hidden" src="{{ 'm_campaign_01.jpg' | asset_url | split:'?' | first }}" alt="Urban Zen Silk Road Collection installation Pictures" />
	</div>
	
	
	<div class="full-width first bg-full" style="background-image: url({{ 'campaign_02.jpg | asset_url | split:'?' | first }});">
		<a name="jump-to"> </a>
	</div>
	<div class="full-width">
		<div class="half left">
			<img src="{{ 'campaign_03.jpg' | asset_url | split:'?' | first }}" alt="Urban Zen Silk Road Collection installation Pictures" />
		</div>
		<div class="half left">
			<img src="{{ 'campaign_03b.jpg' | asset_url | split:'?' | first }}" alt="Urban Zen Silk Road Collection installation Pictures" />
		</div>
	</div>
	<div class="full-width">
		<img src="{{ 'campaign_04.jpg' | asset_url | split:'?' | first }}" alt="Urban Zen Silk Road Collection installation Pictures" />
	</div>	
	<div class="full-width">
		<div class="half left">
			<img src="{{ 'campaign_05.jpg' | asset_url | split:'?' | first }}" alt="Urban Zen Silk Road Collection installation Pictures" />
		</div>
		<div class="half left">
			<img src="{{ 'campaign_06.jpg' | asset_url | split:'?' | first }}" alt="Urban Zen Silk Road Collection installation Pictures" />
		</div>
	</div>
	<div class="full-width">
		<img src="{{ 'campaign_07.jpg' | asset_url | split:'?' | first }}" alt="Urban Zen Silk Road Collection installation Pictures" />
	</div>		
</div>	
<div class="article">
	<p class="credits right light">Photographer: Hans Neumann  |  Model: Tiana Tolstoi  |  Set Designer: Hans Maharawal</p>
	<br/>
	<br/>
	<br/>
	<h1 class="light center">BEHIND THE SCENES</h1><br/>
	<div class="Silk RoadSlider relative_slider black-nav">
		<ul class="slides">
			<li class="item">
				<a rel="gallery1" class="fancybox" href="{{ 'BTS_01.jpg' | asset_url | split:'?' | first }}">
					<img src="{{ 'BTS_01.jpg' | asset_url | split:'?' | first }}" alt="Urban Zen Silk Road Collection installation Pictures" />
				</a>
			</li>
			<li class="item">
				<a rel="gallery1" class="fancybox" href="{{ 'BTS_02.jpg' | asset_url | split:'?' | first }}">
					<img src="{{ 'BTS_02.jpg' | asset_url | split:'?' | first }}" alt="Urban Zen Silk Road Collection installation Pictures" />
				</a>
			</li>
			<li class="item">
				<a rel="gallery1" class="fancybox" href="{{ 'BTS_03.jpg' | asset_url | split:'?' | first }}">
					<img src="{{ 'BTS_03.jpg' | asset_url | split:'?' | first }}" alt="Urban Zen Silk Road Collection installation Pictures" />
				</a>
			</li>
			<li class="item">
				<a rel="gallery1" class="fancybox" href="{{ 'BTS_04.jpg' | asset_url | split:'?' | first }}">
					<img src="{{ 'BTS_04.jpg' | asset_url | split:'?' | first }}" alt="Urban Zen Silk Road Collection installation Pictures" />
				</a>
			</li>
			<li class="item">
				<a rel="gallery1" class="fancybox" href="{{ 'BTS_05.jpg' | asset_url | split:'?' | first }}">
					<img src="{{ 'BTS_05.jpg' | asset_url | split:'?' | first }}" alt="Urban Zen Silk Road Collection installation Pictures" />
				</a>
			</li>
			<li class="item">
				<a rel="gallery1" class="fancybox" href="{{ 'BTS_06.jpg' | asset_url | split:'?' | first }}">
					<img src="{{ 'BTS_06.jpg' | asset_url | split:'?' | first }}" alt="Urban Zen Silk Road Collection installation Pictures" />
				</a>
			</li>
			<li class="item">
				<a rel="gallery1" class="fancybox" href="{{ 'BTS_07.jpg' | asset_url | split:'?' | first }}">
					<img src="{{ 'BTS_07.jpg' | asset_url | split:'?' | first }}" alt="Urban Zen Silk Road Collection installation Pictures" />
				</a>
			</li>
			<li class="item">
				<a rel="gallery1" class="fancybox" href="{{ 'BTS_08.jpg' | asset_url | split:'?' | first }}">
					<img src="{{ 'BTS_08.jpg' | asset_url | split:'?' | first }}" alt="Urban Zen Silk Road Collection installation Pictures" />
				</a>
			</li>
			<li class="item">
				<a rel="gallery1" class="fancybox" href="{{ 'BTS_09.jpg' | asset_url | split:'?' | first }}">
					<img src="{{ 'BTS_09.jpg' | asset_url | split:'?' | first }}" alt="Urban Zen Silk Road Collection installation Pictures" />
				</a>
			</li>
			<li class="item">
				<a rel="gallery1" class="fancybox" href="{{ 'BTS_10.jpg' | asset_url | split:'?' | first }}">
					<img src="{{ 'BTS_10.jpg' | asset_url | split:'?' | first }}" alt="Urban Zen Silk Road Collection installation Pictures" />
				</a>
			</li>
			<li class="item">
				<a rel="gallery1" class="fancybox" href="{{ 'BTS_11.jpg' | asset_url | split:'?' | first }}">
					<img src="{{ 'BTS_11.jpg' | asset_url | split:'?' | first }}" alt="Urban Zen Silk Road Collection installation Pictures" />
				</a>
			</li>
			<li class="item">
				<a rel="gallery1" class="fancybox" href="{{ 'BTS_12.jpg' | asset_url | split:'?' | first }}">
					<img src="{{ 'BTS_12.jpg' | asset_url | split:'?' | first }}" alt="Urban Zen Silk Road Collection installation Pictures" />
				</a>
			</li>
			<li class="item">
				<a rel="gallery1" class="fancybox" href="{{ 'BTS_13.jpg' | asset_url | split:'?' | first }}">
					<img src="{{ 'BTS_13.jpg' | asset_url | split:'?' | first }}" alt="Urban Zen Silk Road Collection installation Pictures" />
				</a>
			</li>
		</ul>
	</div>
<script type="text/javascript">
	$(window).ready(function() {
		$('.cell-video-container .absolute-scroll').delay(7000).fadeIn(2000);
		$('.cell-video-container .text').delay(2000).fadeIn(2000);
		$('.cell-video-container .text').delay(1000).fadeOut(3000);
		
	});
</script>