<div class="full">
   <img width="100%" class="mobile_hidden" src="{{ 'nom_banner_new.jpg' | asset_url | split:'?' | first}}" />
   <img width="100%" class="desktop_hidden" src="{{ 'm_NOM_Banner_updated.jpg' | asset_url | split:'?' | first}}" />
</div>
<div class="sixteen columns">
	<div class="section center">
		<h2 class="center">Not One More Movement</h2>
  	  	<p><br/>88 people are killed every day as a result of gun violence.<br/>
 Americans are taking a stand and saying: Not One More. 
        </p>
  </div>
	<div class="section supporters">
    <div class="one-half">
      <div class="normal">
      <span class="text light">Three words, "Not One More," a rallying cry by Richard Martinez, father of 20-year-old Christopher Michaels-Martinez who was shot and killed at UC Santa Barbara, inspired the one-of-a-kind bracelet we’ve developed to support Everytown for Gun Safety.</span><div class="opacity"></div>
        <img width="100%" src="{{ 'richard.jpg' | asset_url | split:'?' | first}}" />
      </div>
    </div><div class="one-half">
      <div class="normal one-half pull-left">
        <span class="text toggle one light">Colin was shot four times and survived the mass shooting at Virginia Tech on April 16, 2007.</span><span class="toggle-bg one"></span>
        <img width="100%" src="{{ 'nom1.jpg' | asset_url | split:'?' | first}}" />
      </div>
      <div class="normal one-half pull-left">  
      <span class="text toggle two light">Lucy McBath's son Jordan Davis was murdered with a gun in November 2012.</span><span class="toggle-bg two"></span>
      
        <img width="100%" src="{{ 'nom3.jpg' | asset_url | split:'?' | first}}" />
      </div>
      <div class="normal one-half pull-left">  
      <span class="text toggle three light">Tom's son Alex Sullivan was killed in the 2012 Aurora Movie theater shooting on his 27th birthday.</span><span class="toggle-bg three"></span>
        <img width="100%" src="{{ 'nom5.jpg' | asset_url | split:'?' | first}}" />
      </div>
      <div class="normal one-half pull-left">  
      <span class="text toggle four light">Stephanie's 14-year-old son Paul Sampleton was killed with a gun over a pair of sneakers in Atlanta, GA.</span><span class="toggle-bg four"></span>
        <img width="100%" src="{{ 'nom7.jpg' | asset_url | split:'?' | first}}" />
      </div>
    </div>
  </div>
	 <div class="section clearfix mobile_center" id="purchase-bracelet">
   <h2 class="center">Stand With Us</h2><br/>
		<div class="center">
			
			<p style="max-width:60%;margin: 0 auto;">With the purchase of this leather wrap bracelet stamped with the words “Not One More,” you support our commitment to end gun violence and build safer communities. The bracelet is handcrafted in Haiti by artisans. 100% of the net proceeds benefit Everytown for Gun Safety, an advocate for the passage of gun safety measures.</p><br/><br/><br/>
		
			{% assign products = collections.['not-one-more'].products %}
      
      {% include 'product-loop' %}
	  </div>
  </div>  
  <div class="section center" id="nom-people">
  <h2>RAISE AWARENESS INSPIRE CHANGE</h2>
  <p>
    <br/>For a chance to be featured in our Not One More community page,<br/>
    post a picture wearing the Not One More bracelet on your Instagram with the tags:<br/><br/>
    <b>#DisarmHate #NotOneMore @Everytown @UrbanZen</b><br/><br/>
  </p>

      <div class="four columns dknom alpha thumbnail fade">
          <div class="opacity-bg"></div><img width="50" height="50" src="{{ 'transparent.gif' | asset_url | split:'?' | first  }}" data-src="{{ 'donna2_medium.jpg' | asset_url | split:'?' | first}}">
      </div>
    
      <div class="four columns vwnom alpha thumbnail">
        <div class="opacity-bg"></div><img width="50" height="50" src="{{ 'transparent.gif' | asset_url | split:'?' | first  }}" data-src="{{ 'vera_medium.jpg' | asset_url | split:'?' | first}}">
    </div>
      <div class="four columns rmnom alpha thumbnail">
        <div class="opacity-bg"></div><img width="50" height="50" src="{{ 'transparent.gif' | asset_url | split:'?' | first  }}" data-src="{{ 'NOM_Movement2_35_medium.jpg' | asset_url | split:'?' | first}}">
    </div>
      <div class="four columns kimknom alpha thumbnail">
        <div class="opacity-bg"></div><img width="50" height="50" src="{{ 'transparent.gif' | asset_url | split:'?' | first  }}" data-src="{{ 'kimkardashian_medium.jpg' | asset_url | split:'?' | first}}">
    </div>
      <div class="four columns kourtknom alpha thumbnail">
        <div class="opacity-bg"></div><img width="50" height="50" src="{{ 'transparent.gif' | asset_url | split:'?' | first  }}" data-src="{{ 'kourtneykardashian_medium.jpg' | asset_url | split:'?' | first}}">
    </div>
      <div class="four columns normal alpha thumbnail">
        <div class="opacity-bg"></div><img width="50" height="50" src="{{ 'transparent.gif' | asset_url | split:'?' | first  }}" data-src="{{ 'NOM_Movement_10b_medium.jpg' | asset_url | split:'?' | first}}">
    </div>
      <div class="four columns normal alpha thumbnail">
        <div class="opacity-bg"></div><img width="50" height="50" src="{{ 'transparent.gif' | asset_url | split:'?' | first  }}" data-src="{{ 'NOM_Movement_3b_medium.jpg' | asset_url | split:'?' | first}}">
    </div>
      <div class="four columns jfnom alpha thumbnail">
        <div class="opacity-bg"></div><img width="50" height="50" src="{{ 'transparent.gif' | asset_url | split:'?' | first  }}" data-src="{{ 'NOM_Movement3_29_medium.jpg' | asset_url | split:'?' | first}}">
    </div>
          <div class="four columns kcnom alpha thumbnail">
        <div class="opacity-bg"></div><img width="50" height="50" src="{{ 'transparent.gif' | asset_url | split:'?' | first  }}" data-src="{{ 'NOM_Movement2_30_medium.jpg' | asset_url | split:'?' | first}}">
    </div>
      <div class="four columns normal alpha thumbnail">
        <div class="opacity-bg"></div><img width="50" height="50" src="{{ 'transparent.gif' | asset_url | split:'?' | first  }}" data-src="{{ 'NOM_Movement_6c_medium.jpg' | asset_url | split:'?' | first}}">
    </div>
      <div class="four columns dfnom alpha thumbnail">
        <div class="opacity-bg"></div><img width="50" height="50" src="{{ 'transparent.gif' | asset_url | split:'?' | first  }}" data-src="{{ 'NOM_Movement2_32_medium.jpg' | asset_url | split:'?' | first}}">
    </div>
    <div class="four columns dknom alpha thumbnail ">
        <div class="opacity-bg"></div><img width="50" height="50" src="{{ 'transparent.gif' | asset_url | split:'?' | first  }}" data-src="{{ 'NOM_Movement_1b_medium.jpg' | asset_url | split:'?' | first}}">
    </div>
    <div class="hidden_section">
      <div class="four columns normal alpha thumbnail">
        <div class="opacity-bg"></div><img width="50" height="50" src="{{ 'transparent.gif' | asset_url | split:'?' | first  }}" data-src="{{ 'NOM_Movement_2b_medium.jpg' | asset_url | split:'?' | first}}">
    </div>
      <div class="four columns maryalicenom alpha thumbnail">
        <div class="opacity-bg"></div><img width="50" height="50" src="{{ 'transparent.gif' | asset_url | split:'?' | first  }}" data-src="{{ 'mary-alice_medium.jpg' | asset_url | split:'?' | first}}">
    </div>
	
      <div class="four columns kknom alpha thumbnail">
        <div class="opacity-bg"></div><img width="50" height="50" src="{{ 'transparent.gif' | asset_url | split:'?' | first  }}" data-src="{{ 'kelly-klein_medium.jpg' | asset_url | split:'?' | first}}">
    </div>
      <div class="four columns ltnom alpha thumbnail">
        <div class="opacity-bg"></div><img width="50" height="50" src="{{ 'transparent.gif' | asset_url | split:'?' | first  }}" data-src="{{ 'latham-thomas_medium.jpg' | asset_url | split:'?' | first}}">
    </div>
      <div class="four columns mcnom alpha thumbnail">
        <div class="opacity-bg"></div><img width="50" height="50" src="{{ 'transparent.gif' | asset_url | split:'?' | first  }}" data-src="{{ 'michael-carl_medium.jpg' | asset_url | split:'?' | first}}">
    </div>
      <div class="four columns plnom alpha thumbnail">
        <div class="opacity-bg"></div><img width="50" height="50" src="{{ 'transparent.gif' | asset_url | split:'?' | first  }}" data-src="{{ 'phillip-lim_medium.jpg' | asset_url | split:'?' | first}}">
    </div>
      <div class="four columns gretchennom alpha thumbnail">
        <div class="opacity-bg"></div><img width="50" height="50" src="{{ 'transparent.gif' | asset_url | split:'?' | first  }}" data-src="{{ 'gretchen_medium.jpg' | asset_url | split:'?' | first}}">
    </div>
      <div class="four columns lorinom alpha thumbnail">
        <div class="opacity-bg"></div><img width="50" height="50" src="{{ 'transparent.gif' | asset_url | split:'?' | first  }}" data-src="{{ 'lori2_medium.jpg' | asset_url | split:'?' | first}}">
    </div>
      <div class="four columns lorisnom alpha thumbnail">
        <div class="opacity-bg"></div><img width="50" height="50" src="{{ 'transparent.gif' | asset_url | split:'?' | first  }}" data-src="{{ 'loris_medium.jpg' | asset_url | split:'?' | first}}">
    </div>
      <div class="four columns shananom alpha thumbnail">
        <div class="opacity-bg"></div><img width="50" height="50" src="{{ 'transparent.gif' | asset_url | split:'?' | first  }}" data-src="{{ 'shana_medium.jpg' | asset_url | split:'?' | first}}">
    </div>
      <div class="four columns sznom alpha thumbnail">
        <div class="opacity-bg"></div><img width="50" height="50" src="{{ 'transparent.gif' | asset_url | split:'?' | first  }}" data-src="{{ 'susu-zaza2_medium.jpg' | asset_url | split:'?' | first}}">
    </div>
      <div class="four columns kevinnom alpha thumbnail">
        <div class="opacity-bg"></div><img width="50" height="50" src="{{ 'transparent.gif' | asset_url | split:'?' | first  }}" data-src="{{ 'kevin_medium.jpg' | asset_url | split:'?' | first}}">
    </div>
      <div class="four columns matthewnom alpha thumbnail">
        <div class="opacity-bg"></div><img width="50" height="50" src="{{ 'transparent.gif' | asset_url | split:'?' | first  }}" data-src="{{ 'mathew_medium.jpg' | asset_url | split:'?' | first}}">
    </div>
      <div class="four columns christannom alpha thumbnail">
        <div class="opacity-bg"></div><img width="50" height="50" src="{{ 'transparent.gif' | asset_url | split:'?' | first  }}" data-src="{{ 'christina1_medium.jpg' | asset_url | split:'?' | first}}">
    </div>
      <div class="four columns pgnom alpha thumbnail">
        <div class="opacity-bg"></div><img width="50" height="50" src="{{ 'transparent.gif' | asset_url | split:'?' | first  }}" data-src="{{ 'prabal_medium.jpg' | asset_url | split:'?' | first}}">
    </div>
      <div class="four columns gcnom alpha thumbnail">
        <div class="opacity-bg"></div><img width="50" height="50" src="{{ 'transparent.gif' | asset_url | split:'?' | first  }}" data-src="{{ 'georginachapmanmarchesa_medium.jpg' | asset_url | split:'?' | first}}">
    </div>
      <div class="four columns sknom alpha thumbnail">
        <div class="opacity-bg"></div><img width="50" height="50" src="{{ 'transparent.gif' | asset_url | split:'?' | first  }}" data-src="{{ 'stevenkolb_medium.jpg' | asset_url | split:'?' | first}}">
    </div>
      <div class="four columns rabnom alpha thumbnail">
        <div class="opacity-bg"></div><img width="50" height="50" src="{{ 'transparent.gif' | asset_url | split:'?' | first  }}" data-src="{{ 'ragandbone_medium.jpg' | asset_url | split:'?' | first}}">
    </div>
          <div class="four columns ewnom alpha thumbnail">
        <div class="opacity-bg"></div><img width="50" height="50" src="{{ 'transparent.gif' | asset_url | split:'?' | first  }}" data-src="{{ 'NOM_Movement2_36_medium.jpg' | asset_url | split:'?' | first}}">
    </div>
       <div class="four columns vsnom alpha thumbnail">
         <div class="opacity-bg"></div><img width="50" height="50" src="{{ 'transparent.gif' | asset_url | split:'?' | first  }}" data-src="{{ 'NOM_Movement2_33_medium.jpg' | asset_url | split:'?' | first}}">
     </div>
      <div class="four columns nananom alpha thumbnail">
        <div class="opacity-bg"></div><img width="50" height="50" src="{{ 'transparent.gif' | asset_url | split:'?' | first  }}" data-src="{{ 'nana_medium.jpg' | asset_url | split:'?' | first}}">
    </div>
      <div class="four columns sarahjonesnom alpha thumbnail">
        <div class="opacity-bg"></div><img width="50" height="50" src="{{ 'transparent.gif' | asset_url | split:'?' | first  }}" data-src="{{ 'sarahjones_medium.jpg' | asset_url | split:'?' | first}}">
    </div>
      <div class="four columns elizabethnom alpha thumbnail">
        <div class="opacity-bg"></div><img width="50" height="50" src="{{ 'transparent.gif' | asset_url | split:'?' | first  }}" data-src="{{ 'elizabethgodfrey_medium.jpg' | asset_url | split:'?' | first}}">
    </div>
      <div class="four columns adriananom alpha thumbnail">
        <div class="opacity-bg"></div><img width="50" height="50" src="{{ 'transparent.gif' | asset_url | split:'?' | first  }}" data-src="{{ 'adrianakaegi_medium.jpg' | asset_url | split:'?' | first}}">
    </div>
      <div class="four columns stephanienom alpha thumbnail">
        <div class="opacity-bg"></div><img width="50" height="50" src="{{ 'transparent.gif' | asset_url | split:'?' | first  }}" data-src="{{ 'stephanieditullio_medium.jpg' | asset_url | split:'?' | first}}">
    </div>
      <div class="four columns jessicanom alpha thumbnail">
        <div class="opacity-bg"></div><img width="50" height="50" src="{{ 'transparent.gif' | asset_url | split:'?' | first  }}" data-src="{{ 'jessicakalloch_medium.jpg' | asset_url | split:'?' | first}}">
    </div>
      <div class="four columns ctnom alpha thumbnail">
        <div class="opacity-bg"></div><img width="50" height="50" src="{{ 'transparent.gif' | asset_url | split:'?' | first  }}" data-src="{{ 'NOM_Movement2_31_medium.jpg' | asset_url | split:'?' | first}}">
    </div>
      <div class="four columns michinom alpha thumbnail">
        <div class="opacity-bg"></div><img width="50" height="50" src="{{ 'transparent.gif' | asset_url | split:'?' | first  }}" data-src="{{ 'michi_medium.jpg' | asset_url | split:'?' | first}}">
    </div>
      <div class="four columns joycenom alpha thumbnail">
        <div class="opacity-bg"></div><img width="50" height="50" src="{{ 'transparent.gif' | asset_url | split:'?' | first  }}" data-src="{{ 'joyce_medium.jpg' | asset_url | split:'?' | first}}">
    </div>
      <div class="four columns ourcomnom alpha thumbnail">
        <div class="opacity-bg"></div><img width="50" height="50" src="{{ 'transparent.gif' | asset_url | split:'?' | first  }}" data-src="{{ 'our-community_medium.jpg' | asset_url | split:'?' | first}}">
    </div>
      <div class="four columns miminom alpha thumbnail">
        <div class="opacity-bg"></div><img width="50" height="50" src="{{ 'transparent.gif' | asset_url | split:'?' | first  }}" data-src="{{ 'mimi_medium.jpg' | asset_url | split:'?' | first}}">
    </div>
      <div class="four columns ourcomnom alpha thumbnail">
        <div class="opacity-bg"></div><img width="50" height="50" src="{{ 'transparent.gif' | asset_url | split:'?' | first  }}" data-src="{{ 'our-community2_medium.jpg' | asset_url | split:'?' | first}}">
    </div>
      <div class="four columns andienom alpha thumbnail">
        <div class="opacity-bg"></div><img width="50" height="50" src="{{ 'transparent.gif' | asset_url | split:'?' | first  }}" data-src="{{ 'andie_medium.jpg' | asset_url | split:'?' | first}}">
    </div>
      <div class="four columns margaretnom alpha thumbnail">
        <div class="opacity-bg"></div><img width="50" height="50" src="{{ 'transparent.gif' | asset_url | split:'?' | first  }}" data-src="{{ 'margaret_medium.jpg' | asset_url | split:'?' | first}}">
    </div>
      <div class="four columns sandranom alpha thumbnail">
        <div class="opacity-bg"></div><img width="50" height="50" src="{{ 'transparent.gif' | asset_url | split:'?' | first  }}" data-src="{{ 'sandra_medium.jpg' | asset_url | split:'?' | first}}">
    </div>
      <div class="four columns normal alpha thumbnail">
        <div class="opacity-bg"></div><img width="50" height="50" src="{{ 'transparent.gif' | asset_url | split:'?' | first  }}" data-src="{{ 'NOM_Movement_7b_medium.jpg' | asset_url | split:'?' | first}}">
    </div>
	{% comment %}
      <div class="four columns normal alpha thumbnail">
        <div class="opacity-bg"></div><img width="50" height="50" src="{{ 'transparent.gif' | asset_url | split:'?' | first  }}" data-src="{{ 'NOM_Movement_6b_medium.jpg' | asset_url | split:'?' | first}}">
    </div>
      <div class="four columns normal alpha thumbnail">
        <div class="opacity-bg"></div><img width="50" height="50" src="{{ 'transparent.gif' | asset_url | split:'?' | first  }}" data-src="{{ 'NOM_Movement_16c_medium.jpg' | asset_url | split:'?' | first}}">
    </div>
      <div class="four columns normal alpha thumbnail">
        <div class="opacity-bg"></div><img width="50" height="50" src="{{ 'transparent.gif' | asset_url | split:'?' | first  }}" data-src="{{ 'NOM_Movement_4b_medium.jpg' | asset_url | split:'?' | first}}">
    </div>
      <div class="four columns normal alpha thumbnail">
        <div class="opacity-bg"></div><img width="50" height="50" src="{{ 'transparent.gif' | asset_url | split:'?' | first  }}" data-src="{{ 'NOM_Movement_5b_medium.jpg' | asset_url | split:'?' | first}}">
    </div>
      <div class="four columns normal alpha thumbnail">
        <div class="opacity-bg"></div><img width="50" height="50" src="{{ 'transparent.gif' | asset_url | split:'?' | first  }}" data-src="{{ 'NOM_Movement_9b_medium.jpg' | asset_url | split:'?' | first}}">
    </div>
      <div class="four columns normal alpha thumbnail">
        <div class="opacity-bg"></div><img width="50" height="50" src="{{ 'transparent.gif' | asset_url | split:'?' | first  }}" data-src="{{ 'NOM_Movement_11b_medium.jpg' | asset_url | split:'?' | first}}">
    </div>
      <div class="four columns normal alpha thumbnail">
        <div class="opacity-bg"></div><img width="50" height="50" src="{{ 'transparent.gif' | asset_url | split:'?' | first  }}" data-src="{{ 'NOM_Movement_12b_medium.jpg' | asset_url | split:'?' | first}}">
    </div>
      <div class="four columns normal alpha thumbnail">
        <div class="opacity-bg"></div><img width="50" height="50" src="{{ 'transparent.gif' | asset_url | split:'?' | first  }}" data-src="{{ 'NOM_Movement_13b_medium.jpg' | asset_url | split:'?' | first}}">
    </div>
      <div class="four columns normal alpha thumbnail">
        <div class="opacity-bg"></div><img width="50" height="50" src="{{ 'transparent.gif' | asset_url | split:'?' | first  }}" data-src="{{ 'NOM_Movement_14b_medium.jpg' | asset_url | split:'?' | first}}">
    </div>
      <div class="four columns normal alpha thumbnail">
        <div class="opacity-bg"></div><img width="50" height="50" src="{{ 'transparent.gif' | asset_url | split:'?' | first  }}" data-src="{{ 'NOM_Movement_15b_medium.jpg' | asset_url | split:'?' | first}}">
    </div>
      <div class="four columns normal alpha thumbnail">
        <div class="opacity-bg"></div><img width="50" height="50" src="{{ 'transparent.gif' | asset_url | split:'?' | first  }}" data-src="{{ 'NOM_Movement_17b_medium.jpg' | asset_url | split:'?' | first}}">
    </div>
      <div class="four columns normal alpha thumbnail">
        <div class="opacity-bg"></div><img width="50" height="50" src="{{ 'transparent.gif' | asset_url | split:'?' | first  }}" data-src="{{ 'NOM_Movement_18b_medium.jpg' | asset_url | split:'?' | first}}">
    </div>
      <div class="four columns normal alpha thumbnail">
        <div class="opacity-bg"></div><img width="50" height="50" src="{{ 'transparent.gif' | asset_url | split:'?' | first  }}" data-src="{{ 'NOM_Movement2_19_medium.jpg' | asset_url | split:'?' | first}}">
    </div>
      <div class="four columns normal alpha thumbnail">
        <div class="opacity-bg"></div><img width="50" height="50" src="{{ 'transparent.gif' | asset_url | split:'?' | first  }}" data-src="{{ 'NOM_Movement2_20_medium.jpg' | asset_url | split:'?' | first}}">
    </div>
      <div class="four columns normal alpha thumbnail">
        <div class="opacity-bg"></div><img width="50" height="50" src="{{ 'transparent.gif' | asset_url | split:'?' | first  }}" data-src="{{ 'NOM_Movement2_21_medium.jpg' | asset_url | split:'?' | first}}">
    </div>
      <div class="four columns normal alpha thumbnail">
        <div class="opacity-bg"></div><img width="50" height="50" src="{{ 'transparent.gif' | asset_url | split:'?' | first  }}" data-src="{{ 'NOM_Movement2_22_medium.jpg' | asset_url | split:'?' | first}}">
    </div>
      <div class="four columns normal alpha thumbnail">
        <div class="opacity-bg"></div><img width="50" height="50" src="{{ 'transparent.gif' | asset_url | split:'?' | first  }}" data-src="{{ 'NOM_Movement2_23_medium.jpg' | asset_url | split:'?' | first}}">
    </div>
      <div class="four columns normal alpha thumbnail">
        <div class="opacity-bg"></div><img width="50" height="50" src="{{ 'transparent.gif' | asset_url | split:'?' | first  }}" data-src="{{ 'NOM_Movement2_24_medium.jpg' | asset_url | split:'?' | first}}">
    </div>
      <div class="four columns normal alpha thumbnail">
        <div class="opacity-bg"></div><img width="50" height="50" src="{{ 'transparent.gif' | asset_url | split:'?' | first  }}" data-src="{{ 'NOM_Movement2_25_v2_medium.jpg' | asset_url | split:'?' | first}}">
    </div>
      <div class="four columns normal alpha thumbnail">
        <div class="opacity-bg"></div><img width="50" height="50" src="{{ 'transparent.gif' | asset_url | split:'?' | first  }}" data-src="{{ 'NOM_Movement2_26_medium.jpg' | asset_url | split:'?' | first}}">
    </div>
		{% endcomment %}
    </div>
    <button class="cta-button dark top-margin see-more"><span>See More</span></button>
  </div>
<div class="section clearfix table center sponsors">
	<h2>Voices in action</h2>
	<p>Thank you to our partners Lise Evans, Julianne Moore, Michael Bloomberg and more.<br/><br/></p>
	<div class="onethird columns">
		<img width="75%" height="auto" src="{{ 'everytown_final_logo1.jpg' | asset_url | split:'?' | first }}" alt="Everytown" />
	</div>
	<div class="onethird columns">
		<img width="75%" height="auto" src="{{ 'UZ_Logo_Script_Black_large_NOM.png' | asset_url | split:'?' | first }}" alt="Urban Zen" />
	</div>
  <div class="onethird columns">
    <img width="75%" height="auto" src="{{ 'Moms_Demand-Action_Logo_CutAsset1.jpg' | asset_url | split:'?' | first }}" alt="Momes Demand Action" />
  </div>
<!--	<div class="onethird columns">
		<img width="75%" height="auto" src="{{ 'Americans_for_Responsible_Solution1.png' | asset_url | split:'?' | first }}" alt="Americans For Responsible Solution" />
	</div>-->
	
	<!--<div class="onethird columns">
		<img width="75%" height="auto" src="{{ 'Under_The_Gun1.png' | asset_url | split:'?' | first }}" alt="Under The Gun" />
	</div>
	<div class="onethird columns">
		<img width="75%" height="auto" src="{{ 'NYAGV1.png' | asset_url | split:'?' | first }}" alt="NYAGV" />
	</div>-->
</div>
</div>
</div>
<style>

#nom-people .thumbnail img{z-index:2;-webkit-backface-visibility: hidden;}
#nom-people .thumbnail:hover img{opacity:1 !important;@media all and (max-width: 1023px) {opacity:1 !important;}}
#nom-people .thumbnail{position:relative;}
#nom-people .thumbnail:before{opacity:0;}
#nom-people .thumbnail:hover:before{
  white-space: pre;
  color:#fff;
  position: absolute;
  display: block;
  top: 50%;
  width:100%;
  text-align:center;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 1000;
  opacity:1;

}

.opacity-bg{width:100%;height:100%;background: #000;position: absolute;top:0;left:0;display:block;opacity:0;z-index: 99;}
#nom-people .thumbnail:hover .opacity-bg,#nom-people .thumbnail:focus .opacity-bg{opacity: 0.6;}

	#nom-people .normal.thumbnail:hover:before{content:'Join \A The Movement \A #NotOneMore';}
	#nom-people .dknom.thumbnail:hover:before{content:'Donna Karan \A #NotOneMore';}
	#nom-people .vwnom.thumbnail:hover:before{content:'Vera Wang \A #NotOneMore';}
	#nom-people .kcnom.thumbnail:hover:before{content:'Keren Craig \A #NotOneMore';}
	#nom-people .jfnom.thumbnail:hover:before{content:'Jennifer Fisher \A #NotOneMore';}
	#nom-people .ctnom.thumbnail:hover:before{content:'Cristy \A #NotOneMore';}  	  
	#nom-people .dfnom.thumbnail:hover:before{content:'Dana Foley \A #NotOneMore';}	  
	#nom-people .rmnom.thumbnail:hover:before{content:'Robbie Myers \A #NotOneMore';}	  
	#nom-people .ewnom.thumbnail:hover:before{content:'Eric Wilson \A #NotOneMore';}
	#nom-people .vsnom.thumbnail:hover:before{content:'Virgina Smith \A #NotOneMore';}
	#nom-people .gcnom.thumbnail:hover:before{content:'Georgina Chapman Marchesa \A #NotOneMore';}	  	  	  	  
	#nom-people .sknom.thumbnail:hover:before{content:'Steven Kolb \A #NotOneMore';}	  	  	  	  
	#nom-people .rabnom.thumbnail:hover:before{content:'Rag And Bone \A #NotOneMore';}	
	#nom-people .christannom.thumbnail:hover:before{content:'Christan \A #NotOneMore';}	
	#nom-people .matthewnom.thumbnail:hover:before{content:'Matthew \A #NotOneMore';}	
	#nom-people .gretchennom.thumbnail:hover:before{content:'Gretchen \A #NotOneMore';}	
	#nom-people .kknom.thumbnail:hover:before{content:'Kelly Klein \A #NotOneMore';}	
	#nom-people .kevinnom.thumbnail:hover:before{content:'Kevin \A #NotOneMore';}	
	#nom-people .lorisnom.thumbnail:hover:before{content:'Lori \A #NotOneMore';}	
	#nom-people .lorinom.thumbnail:hover:before{content:'Lori \A #NotOneMore';}	
	#nom-people .ltnom.thumbnail:hover:before{content:'Latham Thomas \A #NotOneMore';}	
	#nom-people .mcnom.thumbnail:hover:before{content:'Micheal Carl \A #NotOneMore';}	
	#nom-people .plnom.thumbnail:hover:before{content:'Philip Lim \A #NotOneMore';}	
	#nom-people .shananom.thumbnail:hover:before{content:'Shana \A #NotOneMore';}	
	#nom-people .sznom.thumbnail:hover:before{content:'Susu & Zaza \A #NotOneMore';}	
	#nom-people .pgnom.thumbnail:hover:before{content:'Prabal Gurung \A #NotOneMore';}	  
	#nom-people .andienom.thumbnail:hover:before{content:'Andie \A #NotOneMore';}		  	  	  	  
	#nom-people .joycenom.thumbnail:hover:before{content:'Joyce \A #NotOneMore';}		  	  	  	  
	#nom-people .margaretnom.thumbnail:hover:before{content:'Margaret \A #NotOneMore';}		  	  	  	  
	#nom-people .maryalicenom.thumbnail:hover:before{content:'Mary Alice \A #NotOneMore';}		  	  	  	  
	#nom-people .michinom.thumbnail:hover:before{content:'Michi \A #NotOneMore';}		  	  	  	  
	#nom-people .miminom.thumbnail:hover:before{content:'Mimi \A #NotOneMore';}		  	  	  	  
	#nom-people .ourcomnom.thumbnail:hover:before{content:'Our Community \A #NotOneMore';}		  	  	  	  
	#nom-people .sandranom.thumbnail:hover:before{content:'Sandra \A #NotOneMore';}		  	  	  	   
	#nom-people .kimknom.thumbnail:hover:before{content:'Kim Kardashian \A #NotOneMore';}		  	  	  	  
	#nom-people .kourtknom.thumbnail:hover:before{content:'Kourtney Kardashian \A #NotOneMore';}		  	  	  	  
	#nom-people .nananom.thumbnail:hover:before{content:'Nana Keita \A #NotOneMore';}		  	  	  	  
	#nom-people .sarahjonesnom.thumbnail:hover:before{content:'Sarah Jones \A #NotOneMore';}		  	  	  	  
	#nom-people .elizabethnom.thumbnail:hover:before{content:'Elizabeth \A #NotOneMore';}		  	  	  	  
	#nom-people .adriananom.thumbnail:hover:before{content:'Adriana \A #NotOneMore';}		  	  	  	  
	#nom-people .stphanienom.thumbnail:hover:before{content:'Stephanie \A #NotOneMore';}		  	  	  	  
	#nom-people .jessicanom.thumbnail:hover:before{content:'Jessica \A #NotOneMore';}		  	  

	</style>
  <script type="text/javascript">
      $(document).on('click','.see-more',function(){
        $('.hidden_section').toggleClass('active');
        $(this).find('span').text($(this).find('span').text() == 'See More' ? 'See Less' : 'See More');
      });
      $(document).ready(function(){
        // Sorry about bad spacing. Also...this is jquery if you didn't notice allready.
        $(".thumbnail").hover(function(){
          console.log('hovered');
          //On Hover - Works on ios
          $(".thumbnail:before").show();
        }, function(){
          //Hover Off - Hover off doesn't seem to work on iOS
          $(".thumbnail:before").hide();
       })
      });
  /*
  $(document).ready(function() {
   var toggleOne = $('.toggle.one');
   var toggleTwo = $('.toggle.two');
   var toggleThree = $('.toggle.three');
   var toggleFour = $('.toggle.four');
   var toggleBackgroundOne = $('.toggle-bg.one');
   var toggleBackgroundTwo = $('.toggle-bg.two');
   var toggleBackgroundThree = $('.toggle-bg.three');
   var toggleBackgroundFour = $('.toggle-bg.four');
   runIt();
     function runIt() {
       toggleOne.animate({opacity:'1'}, 1000).delay(3000);
       toggleBackgroundOne.animate({opacity:'0.6'}, 1000).delay(3000);
       toggleBackgroundOne.animate({opacity:'0'}, 1000).delay(3000);
       toggleOne.animate({opacity:'0'}, 1000, runItTwo).delay(3000);
      } 
      function runItTwo() {
       toggleTwo.animate({opacity:'1'}, 1000).delay(3000);
       toggleBackgroundTwo.animate({opacity:'0.6'}, 1000).delay(3000);
       toggleBackgroundTwo.animate({opacity:'0'}, 1000).delay(3000);
       toggleTwo.animate({opacity:'0'}, 1000, runItThree).delay(3000);
      }
      function runItThree() {
       toggleThree.animate({opacity:'1'}, 1000).delay(3000);
       toggleBackgroundThree.animate({opacity:'0.6'}, 1000).delay(3000);
       toggleBackgroundThree.animate({opacity:'0'}, 1000).delay(3000);
       toggleThree.animate({opacity:'0'}, 1000, runItFour).delay(3000);
     }
     function runItFour() {
       toggleFour.animate({opacity:'1'}, 1000).delay(3000);
       toggleBackgroundFour.animate({opacity:'0.6'}, 1000).delay(3000);
       toggleBackgroundFour.animate({opacity:'0'}, 1000).delay(3000);
       toggleFour.animate({opacity:'0'}, 1000, runIt).delay(3000);
     }
    
    
});
*/
  </script>